* a {
  color: #4d4d4d;
  padding-top: 7px;
  display: inline-block;
}

* button {
  cursor: pointer;
}

* body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #ffffffd8), to(transparent)), url("../images/note.jpg");
  background: linear-gradient(#ffffffd8 100%, transparent), url("../images/note.jpg");
  background-position: bottom 0px right 0px;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 1024px) {
  * body {
    background-repeat: no-repeat;
    background-position: bottom -70px right 0px;
  }
}

.m-header {
  background: #ffffff;
  -webkit-box-shadow: 0 1px 2px #4d4d4d;
          box-shadow: 0 1px 2px #4d4d4d;
  position: relative;
  z-index: 1;
  color: #4d4d4d;
  padding: 10px 15px;
}

.m-header .logo-nav {
  max-width: 1920px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m-header .logo-nav #logo {
  width: 180px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.m-header .logo-nav #logo:hover, .m-header .logo-nav #logo:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.7;
}

.m-header .logo-nav #menu {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.m-header .logo-nav #menu svg {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (min-width: 520px) {
  .m-header .logo-nav #menu svg {
    -webkit-transform: scale(2) !important;
            transform: scale(2) !important;
  }
}

.m-header .logo-nav #menu svg g path {
  stroke: #28ac54 !important;
}

@media (min-width: 1024px) {
  .m-header .logo-nav #menu {
    display: none;
  }
}

.d-main {
  padding: 20px;
  margin-bottom: 50px;
}

.d-main .indexMessage {
  max-width: 580px;
  margin: auto;
}

.d-main .indexMessage .title {
  font-size: 20px;
  padding: 12px 0 10px;
  font-weight: bold;
}

.d-main .indexMessage .content {
  margin: 20px auto 40px;
}

.d-main .indexMessage .content > div {
  padding: 5px 15px 15px;
  -webkit-box-shadow: 0 1px 3px #515a56;
          box-shadow: 0 1px 3px #515a56;
  border-radius: 5px;
  background-color: #fafafaad;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.d-main .indexMessage .content > div .subtitle {
  font-weight: bold;
  padding: 12px 0;
  border-bottom: 2px solid #00753f;
}

.d-main .indexMessage .content > div .subtitle + div {
  margin-top: 20px;
  max-height: 310px;
  overflow: auto;
  font-size: 14px;
}

.d-main .indexMessage .content > div .subtitle + div .each {
  width: 95%;
  margin: auto;
  padding: 15px 0;
  border-bottom: 2px dashed #0c8f58;
}

.d-main .indexMessage .content > div .subtitle + div .each:first-of-type {
  padding-top: 0;
}

.d-main .indexMessage .content > div .subtitle + div .each:last-of-type {
  margin-bottom: 0;
  border-bottom: unset;
}

.d-main .indexMessage .content > div:hover {
  background-color: #ffffff;
}

.d-main .indexMessage .content .serving {
  margin-bottom: 30px;
}

@media (min-width: 320px) {
  .d-main .indexMessage .content > div .subtitle + div .each {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1024px) {
  .d-main {
    height: calc(100vh - 77px);
    overflow: auto;
    margin-bottom: 0;
  }
  .d-main .indexMessage {
    max-width: 800px;
    margin-left: 260px;
  }
  .d-main .indexMessage .content > div .subtitle {
    font-size: 18px;
  }
  .d-main .indexMessage .content > div .subtitle + div {
    font-size: 16px;
  }
}

.d-main nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 150vh;
  background-color: #f5f5f5;
  text-align: center;
  display: none;
  font-size: 14px;
}

.d-main nav img {
  width: 50%;
  max-width: 200px;
  margin: 10px;
}

.d-main nav .straight-nav .nav-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  opacity: 0.7;
}

.d-main nav .straight-nav .nav-title i {
  margin-right: 5px;
}

.d-main nav .straight-nav .nav-title div {
  margin-left: 5px;
}

.d-main nav .straight-nav .nav-title div[title="customerList"] {
  margin-left: 3px;
  margin-right: 4px;
}

.d-main nav .straight-nav .nav-title div[title="findCustomer"],
.d-main nav .straight-nav .nav-title div[title="whoInvite"] {
  margin-left: 5px;
  margin-right: 18px;
}

.d-main nav .straight-nav .nav-title:hover {
  background-color: #fff;
  font-weight: bold;
  color: #5db181;
  -webkit-box-shadow: 0 1px 3px #8a8888;
          box-shadow: 0 1px 3px #8a8888;
  opacity: 1;
}

.d-main nav .straight-nav .nav-title + span {
  cursor: pointer;
}

.d-main nav .straight-nav .nav-unactive {
  color: #4d4d4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: default;
  opacity: 0.3;
}

.d-main nav .straight-nav .nav-unactive i {
  margin-right: 5px;
}

.d-main nav .straight-nav .nav-unactive div {
  margin-left: 5px;
}

.d-main nav .straight-nav .nav-active {
  background-color: #fff;
  font-weight: bold;
  color: #5db181;
  border-right: 5px solid #5db181;
  -webkit-box-shadow: 0 1px 3px #8a8888;
          box-shadow: 0 1px 3px #8a8888;
  opacity: 1;
}

.d-main nav .straight-nav .nav-active i {
  margin-left: 5px;
}

.d-main nav .straight-nav #logout {
  width: 30px;
  position: fixed;
  bottom: 0 !important;
  left: 200px;
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.d-main nav .straight-nav #logout:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.d-main nav .straight-nav .copyright {
  position: fixed;
  left: 20px;
  bottom: 15px;
}

.d-main nav .straight-nav ul {
  margin-bottom: 0;
}

.d-main nav .straight-nav ul div.customerList {
  max-height: 165px;
  overflow: auto;
}

.d-main nav .straight-nav ul a {
  display: block;
  background-color: #f8fffb;
  padding: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.d-main nav .straight-nav ul a li {
  list-style: none;
}

.d-main nav .straight-nav ul a:hover {
  color: white !important;
  background-color: #4e7c6d;
}

@media (min-width: 1024px) {
  .d-main nav {
    font-size: 16px;
    width: 250px;
    height: calc(100% - 73px);
    margin-top: 73px;
    display: block !important;
  }
  .d-main nav .straight-nav {
    margin-top: 60px;
  }
  .d-main nav #menu-logo {
    display: none;
  }
}

.d-main .profile {
  max-width: 720px;
  white-space: nowrap;
  font-size: 12px;
  text-align: center;
  margin: 85px auto 20px;
  padding: 70px 15px 15px;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 3px #0c4638;
          box-shadow: 0 1px 3px #0c4638;
}

.d-main .profile img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  margin: auto;
}

.d-main .profile div {
  margin: 10px 0;
}

.d-main .profile .welcome {
  margin-top: 15px;
}

.d-main .profile .welcome div {
  margin: 0 0 5px;
}

.d-main .profile .welcome .service-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-main .profile .welcome .service-status > div:last-of-type .label {
  padding: 2px;
  width: 40px;
  height: 20px;
  cursor: pointer;
  margin-bottom: 0;
  border-radius: 60px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  top: 2px;
}

.d-main .profile .welcome .service-status > div:last-of-type .label::before, .d-main .profile .welcome .service-status > div:last-of-type .label::after {
  display: block;
  position: absolute;
  content: "";
}

.d-main .profile .welcome .service-status > div:last-of-type .label::before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #9b9797;
  border-radius: 60px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.d-main .profile .welcome .service-status > div:last-of-type .label::after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 15px;
  border-radius: 15px;
  background-color: #ffffff;
  -webkit-transition: margin 0.4s, background-color 0.4s;
  transition: margin 0.4s, background-color 0.4s;
}

@media (min-width: 1024px) {
  .d-main .profile .welcome .service-status > div:last-of-type .label {
    position: absolute;
    top: 36px;
    right: 40px;
  }
}

.d-main .profile .welcome .service-status > div:last-of-type .toggle {
  visibility: hidden;
}

.d-main .profile .welcome .service-status > div:last-of-type .toggle-round:checked + label::before {
  background-color: #6acf75;
}

.d-main .profile .welcome .service-status > div:last-of-type .toggle-round:checked + label::after {
  margin-left: 17px;
  background-color: #ffffff;
}

.d-main .profile img {
  border: 2px solid white;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

@media (min-width: 520px) {
  .d-main .profile .mobile-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.d-main .profile .d-List,
.d-main .profile .mobile-list {
  margin: auto;
  display: -ms-grid;
  display: grid;
  max-width: 300px;
}

.d-main .profile .d-List .nav-title,
.d-main .profile .mobile-list .nav-title {
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  border-left: 5px solid #286d46;
  -webkit-box-shadow: 0 1px 2px #8a8888;
          box-shadow: 0 1px 2px #8a8888;
  margin-bottom: 10px;
  color: #286d46;
  border-radius: 3px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.d-main .profile .d-List .nav-title i,
.d-main .profile .d-List .nav-title div,
.d-main .profile .mobile-list .nav-title i,
.d-main .profile .mobile-list .nav-title div {
  margin-right: 5px;
}

.d-main .profile .d-List .nav-title div,
.d-main .profile .mobile-list .nav-title div {
  margin-left: 5px;
}

.d-main .profile .d-List .nav-title:hover,
.d-main .profile .mobile-list .nav-title:hover {
  -webkit-transform: rotateZ(-5deg);
          transform: rotateZ(-5deg);
  font-weight: bold;
}

.d-main .profile .d-List .nav-unactive,
.d-main .profile .mobile-list .nav-unactive {
  border-left: 5px solid #4d4d4d;
  color: #4d4d4d;
  background-color: #ffffff;
  opacity: 0.5;
  cursor: pointer;
}

.d-main .profile .d-List .nav-unactive:hover,
.d-main .profile .mobile-list .nav-unactive:hover {
  -webkit-transform: unset;
          transform: unset;
  font-weight: unset;
}

@media (min-width: 320px) {
  .d-main .profile .d-List,
  .d-main .profile .mobile-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 10px;
  }
}

@media (min-width: 520px) {
  .d-main .profile .d-List,
  .d-main .profile .mobile-list {
    max-width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .d-main .profile .d-List .nav-title,
  .d-main .profile .mobile-list .nav-title {
    width: 120px;
  }
}

.d-main .profile .d-List .nav-title {
  cursor: pointer;
}

.d-main .profile .d-List .nav-title:nth-last-of-type(3) div, .d-main .profile .d-List .nav-title:last-of-type div {
  margin-right: 16px;
}

@media (min-width: 320px) {
  .d-main .profile .d-List .nav-title:nth-last-of-type(3) div, .d-main .profile .d-List .nav-title:last-of-type div {
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .d-main .profile {
    border-bottom: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 15px;
    position: fixed;
    width: 250px;
    height: 86px;
    top: 74px;
    left: 0px;
    color: white;
    border-radius: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    background: linear-gradient(135deg, #154135 5%, #28725d 30%, #0a4435 100%, transparent);
  }
  .d-main .profile img {
    width: 50px;
    height: 50px;
    position: static;
    margin: 0;
  }
  .d-main .profile div {
    text-align: left;
    margin: 0px;
  }
  .d-main .profile .welcome {
    margin-top: 5px;
    margin-left: 10px;
  }
  .d-main .profile .welcome .service-status div {
    margin: 0 5px 0 0;
  }
  .d-main .profile .welcome .service-status .label {
    margin-top: 8px;
  }
  .d-main .profile .d-List,
  .d-main .profile .mobile-list {
    display: none;
  }
}
/*# sourceMappingURL=basic.module.css.map */