.customer-data {
  text-align: center;
  max-width: 480px;
  margin: auto;
  .customer-dataSelect {
    display: grid;
    .link-select {
      border-radius: 15px;
      display: block;
      margin: 20px auto;
      background-color: azure;
      width: 120px;
      height: 100px;
      line-height: 90px;
    }
  }

  @media (min-width: 380px) {
    & {
      .customer-dataSelect {
        grid-template-columns: repeat(2, 1fr);
        // width: 95%;
        // max-width: 600px;
        // margin: auto;

        // .link-select {
        //   margin: 10px auto;
        //   background-color: azure;
        //   transform: scale(1.2);
        //   line-height: 90px;
        // }
      }
    }
  }

  @media (min-width: 450px) {
    & {
      .customer-dataSelect {
        grid-template-columns: repeat(3, 1fr);
        // width: 95%;
        // max-width: 600px;
        // margin: auto;

        // .link-select {
        //   margin: 10px auto;
        //   background-color: azure;
        //   transform: scale(1.2);
        //   line-height: 90px;
        // }
      }
    }
  }

  @media (min-width: 520px) {
    & {
      .customer-dataSelect {
        .link-select {
          margin: 10px auto;
          background-color: azure;
          transform: scale(1.2);
          line-height: 90px;
        }
      }
    }
  }
  @media (min-width: 1024px) {
    & {
      display: flex;
      align-items: center;
      margin-left: 250px;
      .customer-dataSelect {
        width: unset;
        max-width: unset;
        margin: 0;
        margin-right: 10px;
        .link-select {
          border-radius: 0;
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;
          // border-right: 2px solid #014b38;
          // border-bottom: 2px solid #014b38;
          // border: 2px solid #014b38;
          // background-color: #c6f3f3;
          letter-spacing: 2px;
          color: #929292;
          border: 1px solid #286d46;
          border-bottom: 2px solid #286d46;
          background-color: white;
          margin: 10px 0;
          transform: unset;
          width: 120px;
          height: 40px;
          line-height: 30px;
          transition: background-color 0.3s, color 0.3s;
          &:hover {
            background-color: #286d46;
            color: white;
          }
        }
        .active {
          background-color: #286d46;
          color: white !important;
        }
      }
    }
  }
}

.service-time {
  font-weight: bold;
  padding: 12px 0 10px;
  margin-bottom: 0;
  font-size: 16px;
  text-align: center;
  width: 80%;
  margin: auto;
  span {
    display: none;
  }
  @media (min-width: 520px) {
    font-size: 20px;
    display: flex;
    width: 580px;
    span {
      display: inline;
    }
  }
  @media (min-width: 1024px) {
    font-size: 20px;
    width: unset;
    margin: 0;
    margin-left: 260px;
  }
}
