.customer-data {
  text-align: center;
  max-width: 480px;
  margin: auto;
}

.customer-data .customer-dataSelect {
  display: -ms-grid;
  display: grid;
}

.customer-data .customer-dataSelect .link-select {
  border-radius: 15px;
  display: block;
  margin: 20px auto;
  width: 120px;
  background: #f1faf4c4;
  border: 1px solid #658a7ca1;
  -webkit-box-shadow: 0 2px 3px #4d4d4d;
          box-shadow: 0 2px 3px #4d4d4d;
  color: #286d46;
  padding: 20px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.customer-data .customer-dataSelect .link-select i {
  display: block;
  margin-bottom: 10px;
  font-size: 30px;
}

.customer-data .customer-dataSelect .link-select:hover {
  -webkit-transform: rotateZ(-5deg);
          transform: rotateZ(-5deg);
  font-weight: bold;
}

@media (min-width: 380px) {
  .customer-data .customer-dataSelect {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 450px) {
  .customer-data .customer-dataSelect {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 520px) {
  .customer-data .customer-dataSelect .link-select {
    margin: 10px auto;
  }
}

@media (min-width: 1024px) {
  .customer-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 250px;
  }
  .customer-data .customer-dataSelect {
    width: unset;
    max-width: unset;
    margin: 0;
    margin-right: 10px;
  }
  .customer-data .customer-dataSelect .link-select {
    border-radius: 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    letter-spacing: 2px;
    color: #929292;
    border: 1px solid #105345;
    border-bottom: 2px solid #105345;
    background-color: white;
    margin: 10px 0;
    padding: 6px;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 120px;
    height: 40px;
    line-height: 30px;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
  }
  .customer-data .customer-dataSelect .link-select:hover {
    background-color: #105345;
    color: white;
    -webkit-transform: unset;
            transform: unset;
    font-weight: normal;
  }
  .customer-data .customer-dataSelect .link-select i {
    display: none;
  }
  .customer-data .customer-dataSelect .active {
    background-color: #105345;
    color: white !important;
  }
}

.service-time {
  font-weight: bold;
  padding: 12px 0 10px;
  margin-bottom: 0;
  font-size: 16px;
  text-align: center;
  width: 80%;
  margin: auto;
}

.service-time span {
  display: none;
}

@media (min-width: 520px) {
  .service-time {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 580px;
  }
  .service-time span {
    display: inline;
  }
}

@media (min-width: 1024px) {
  .service-time {
    font-size: 20px;
    width: unset;
    margin: 0;
    margin-left: 260px;
  }
}
/*# sourceMappingURL=customerData.module.css.map */