.customer-profile {
  .profile-data {
    text-align: center;
    padding: 15px 0;
    background-color: #edf5f0b2;
    box-shadow: 0 1px 3px #515a56;
    border: 1px solid #515a5670;
    border-radius: 5px;
    margin: 20px 0;
    position: relative;
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-bottom: 27px;
      object-fit: cover;
    }
    .title {
      font-weight: 700;
    }
    .data-item {
      margin: 5px 0;
      display: flex;
      div {
        width: 50%;
        text-align: left;
        margin-right: 50px;
      }
      .title {
        text-align: right;
        margin-right: 20px;
      }
    }

    .col {
      .title + div {
        max-height: 100px;
        overflow: auto;
      }
    }
    .edit {
      text-align: right;
      button {
        padding: 3px 7px;
        background-color: yellow;
      }
    }
  }

  @media (min-width: 520px) {
    & {
      .profile-data {
        max-width: 480px;
        margin: 20px auto;
        padding: 20px 0 30px;

        .data-item {
          div {
            width: 170px;
            margin-right: 0px;
          }
          .title {
            width: 70px;
          }
        }

        .flexbox {
          display: flex;
          align-items: center;
          justify-content: space-around;
          margin-left: 70px;
          img {
            margin-left: 30px;
            width: 180px;
            height: 180px;
          }
          img + div {
            margin-left: 50px;
          }
          .data-item {
            &:nth-of-type(2) {
              margin: 10px 0;
            }
          }
        }
        .flexbox ~ .flexbox {
          .data-item {
          }
          & > div:first-child {
            margin: 0 35px;
            .title + div {
              width: 100px;
            }
          }
        }

        .col {
          margin: 5px 0 15px;
          width: 400px;
          margin-left: 50px;
          .data-item {
            display: flex;
            .title + div {
              max-height: 100px;
              overflow: auto;
              width: 280px;
            }
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    & {
      .profile-data {
        max-width: 580px;
        .col {
          margin: 10px 0 15px;
          margin-left: 100px;
          .data-item {
            .title + div {
              width: 280px;
            }
          }
        }
      }
    }
  }
  @media (min-width: 1024px) {
    & {
      padding: 5px;
      margin-top: 30px;
      margin-left: 260px;
      max-height: calc(100vh - 50px);
      overflow: auto;
      overflow-x: hidden;
      .profile-data {
        margin: 0;

        .flexcol {
          // display: flex;
          // justify-content: center;
          // .col {
          //   margin-top: 0;
          //   .data-item {
          //     display: block;
          //     .title {
          //       text-align: left;
          //     }
          //     .title + div {
          //       width: 250px;
          //       margin-top: 5px;
          //     }
          //   }
          // }
          // .col {
          //   margin-right: 28px;
          // }
        }
      }
    }
  }
}

.customer-profile {
  .edit-mode {
    text-align: center;
    padding: 15px 0;
    margin: auto;
    .uploadImg {
      display: block;
      cursor: pointer;
      width: 150px;
      margin: auto;
      border-radius: 5px;
      padding: 2px 5px;
      border: 1px solid black;
      background-color: #fdf8ee;
      input[type="file"] {
        display: none;
      }
    }

    // background-color: #f5fffc;
    // border: 1.5px solid #035322;
    // border-radius: 5px;
    // box-shadow: 0 1px 2px #035322;
    margin: 20px 0;
    position: relative;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
    }
    .title {
      font-weight: bold;
    }
    .data-item {
      margin: 5px 0;
      display: flex;
      div {
        width: 50%;
        text-align: left;
        margin-right: 50px;
      }
      .title {
        text-align: right;
        margin-right: 20px;
      }
      input[type="text"],
      input[type="number"],
      select {
        width: 116px;
      }
      .edit-gender {
        display: grid;
        grid-template-columns: 58px 58px;
      }
      .edit-education {
        display: grid;
        grid-template-columns: 116px;
      }
    }

    .col {
      .title + div {
        max-height: 100px;
        overflow: auto;
      }
      .title {
        span {
          font-size: 12px;
        }
      }
      textarea {
        width: 80%;
        max-width: 350px;
        margin: auto;
        height: 3rem;
        padding: 3px 5px;
      }
    }
    .buttons {
      text-align: right;
      .save {
        padding: 3px 7px;
        background-color: yellow;
      }
      .cancel {
        padding: 3px 7px;
        background-color: yellow;
      }
    }
  }
  @media (min-width: 520px) {
    & {
      input {
        padding: 1px 5px;
      }
      .edit-mode {
        max-width: 480px;
        margin: 20px auto;
        padding: 20px 0 30px;
        img {
          width: 180px;
          height: 180px;
        }
        .data-item {
          div {
            width: unset;
            margin-right: 0px;
          }
          .title {
            width: 70px;
          }
          input[type="text"],
          input[type="number"],
          select {
            width: 150px;
          }
          .edit-gender {
            display: grid;
            grid-template-columns: 60px 90px;
          }
          .edit-education {
            display: grid;
            grid-template-columns: 75px 75px;
          }
        }

        .flexbox {
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
        .flexbox + .flexbox {
          align-items: unset;
        }
        .flexbox:first-of-type {
          & > div:nth-child(2) {
            margin-bottom: 25px;
          }
          & > div .data-item:nth-child(2) {
            margin: 10px 0;
          }
        }
        .flexbox:nth-child(3) {
          margin-top: 4px;
        }

        .col {
          margin: 8px 0;
          display: flex;
          .title {
            width: 70px;
            text-align: right;
            margin-top: 4px;
            span {
              display: inline-block;
              text-align: left;
              width: 90px;
            }
          }
          textarea {
            width: 450px;
            margin-left: 18px;
            height: 5rem;
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    & {
      .edit-mode {
        max-width: 650px;
        .flexbox {
          margin: auto;
          justify-content: space-around;
        }
        .col {
          .title {
            width: 113px;
            span {
              width: 110px;
            }
          }
        }
      }
    }
  }
  @media (min-width: 1024px) {
    & {
      .edit-mode {
        background-color: wheat;
        width: 800px;
        margin: 0;
        .flexbox {
          justify-content: space-around;
          & > div:last-of-type {
            position: relative;
            right: 80px;
          }
        }
        .flexcol {
          display: flex;
          justify-content: center;
          .col {
            margin-top: 0;
            display: block;
            .title {
              &:first-of-type {
                label {
                  display: flex;
                  width: 250px;
                  align-items: center;
                  span {
                    text-align: left;
                    width: 180px;
                  }
                }
              }
            }
            textarea {
              width: 250px;
              margin-left: 0;
              height: 5rem;
            }
          }
          .col {
            margin-right: 28px;
          }
        }
      }
    }
  }
}
