.customer-profile {
  .profile-data {
    text-align: center;
    padding: 15px 0;
    // background-color: #f5fffc;
    // border: 1.5px solid #035322;
    // border-radius: 5px;
    // box-shadow: 0 1px 2px #035322;
    margin: 20px 0;
    position: relative;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
    .title {
      font-weight: 700;
    }
    .data-item {
      margin: 5px 0;
      display: flex;
      div {
        width: 50%;
        text-align: left;
        margin-right: 50px;
      }
      .title {
        text-align: right;
        margin-right: 20px;
      }
    }
    .memberNumber {
      background-color: white;
      white-space: nowrap;
    }
    .col {
      .title + div {
        max-height: 100px;
        overflow: auto;
      }
    }
  }
  @media (min-width: 520px) {
    & {
      .profile-data {
        width: 500px;
        margin: 20px auto;
        padding: 20px 0 30px;
        img {
          width: 200px;
          height: 200px;
        }
        .data-item {
          div {
            width: 100px;
            margin-right: 0px;
          }
          .title {
            width: 70px;
          }
        }

        .flexbox {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .flexbox:first-of-type {
          margin-bottom: 20px;
        }
        // .col {
        //   //   margin-right: 255px;
        //   //   text-align: left;
        //   text-align: left;
        //   width: 350px;
        //   margin: 8px auto 0;
        // }
        .col {
          margin: 8px 0;
          .data-item {
            .title {
              width: 155px;
            }
            .title + div {
              width: 400px;
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
  @media (min-width: 768px) {
    & {
      .profile-data {
        margin: 20px auto;
        width: 650px;
        .flexbox {
          margin: auto;
          justify-content: space-around;
        }
        .col {
          .data-item {
            .title {
              width: 135px;
            }
          }
        }
      }
    }
  }
  @media (min-width: 1024px) {
    & {
      margin-left: 200px;
      height: calc(100vh - 180px);
      overflow: auto;
      overflow-x: hidden;
      .profile-data {
        background-color: wheat;
        width: 800px;
        margin: 0;
        .flexbox {
          justify-content: space-around;
          & > div:last-of-type {
            position: relative;
            right: 80px;
          }
        }
        .flexcol {
          display: flex;
          .col {
            margin-top: 0;
            margin-left: 111px;
            .data-item {
              display: block;
              .title {
                text-align: left;
              }
              .title + div {
                width: 300px;
                margin-top: 5px;
              }
            }
          }
          .col + .col {
            margin-left: 32px;
          }
        }
      }
    }
  }
}
