.dietitian-profile {
  text-align: center;
  padding: 15px 0;
  margin: auto;
  border-radius: 5px;
  font-size: 14px;
}

.dietitian-profile input,
.dietitian-profile textarea {
  border-radius: 5px;
  border: 1px solid grey;
  font-size: 14px;
  padding-left: 5px;
}

.dietitian-profile input:focus,
.dietitian-profile textarea:focus {
  outline: none !important;
  border: 2px solid #64b795;
}

.dietitian-profile .title {
  font-weight: bold;
}

@media (min-width: 520px) {
  .dietitian-profile {
    width: 480px;
    margin: 20px auto;
  }
}

@media (min-width: 1024px) {
  .dietitian-profile {
    text-align: left;
    width: 580px;
    margin-left: 260px;
    padding: 0;
    font-size: 16px;
  }
  .dietitian-profile .basic-profile .flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 500px;
  }
  .dietitian-profile .basic-profile .flexbox > div:last-of-type {
    margin-top: -70px;
  }
  .dietitian-profile .basic-profile input[type="text"] {
    padding: 2px;
  }
}

.dietitian-profile .edit-mode {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 3px #3f4442;
          box-shadow: 0 2px 3px #3f4442;
  border: 1px solid #515a5670;
  padding: 15px 5px 30px;
  border-radius: 5px;
}

.dietitian-profile .edit-mode .basic-profile .img {
  position: relative;
  margin-bottom: 20px;
}

.dietitian-profile .edit-mode .basic-profile .img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.dietitian-profile .edit-mode .basic-profile .img .uploadImg {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: 100px;
  right: 0;
  margin: auto;
  bottom: 5px;
  padding: 2px 5px;
  font-size: 18px;
  background-color: #9ebeabc9;
}

.dietitian-profile .edit-mode .basic-profile .img .uploadImg:hover {
  background-color: #9ebeab;
}

.dietitian-profile .edit-mode .basic-profile .img .uploadImg input[type="file"] {
  display: none;
}

.dietitian-profile .edit-mode .basic-profile .img .uploadImg i {
  color: #f1fffc;
}

@media (min-width: 520px) {
  .dietitian-profile .edit-mode .basic-profile .img img {
    width: 180px;
    height: 180px;
  }
}

@media (min-width: 1024px) {
  .dietitian-profile .edit-mode .basic-profile .img div {
    margin: 10px 20px;
    margin-left: 35px;
    font-size: 12px;
    white-space: nowrap;
  }
  .dietitian-profile .edit-mode .basic-profile .img img {
    margin-left: 48px;
  }
  .dietitian-profile .edit-mode .basic-profile .img .uploadImg {
    bottom: 15px;
    left: 150px;
  }
}

.dietitian-profile .edit-mode .basic-profile div .determined {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.dietitian-profile .edit-mode .basic-profile div .determined div {
  margin-right: auto;
  margin-bottom: 10px;
}

.dietitian-profile .edit-mode .basic-profile div .determined .title {
  margin-left: auto;
  margin-right: 20px;
}

@media (min-width: 520px) {
  .dietitian-profile .edit-mode .basic-profile div .determined {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1024px) {
  .dietitian-profile .edit-mode .basic-profile div .determined {
    margin-left: 74px;
    margin-top: 66px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 55px 210px;
        grid-template-columns: 55px 210px;
  }
}

.dietitian-profile .edit-mode .basic-profile div .basic {
  margin-bottom: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.dietitian-profile .edit-mode .basic-profile div .basic div {
  margin-right: auto;
  margin-top: 10px;
}

.dietitian-profile .edit-mode .basic-profile div .basic label {
  margin: 10px 15px 0 auto;
}

.dietitian-profile .edit-mode .basic-profile div .basic label::after {
  content: "*";
  color: red;
}

.dietitian-profile .edit-mode .basic-profile div .basic label:first-of-type {
  margin-top: 2px;
}

.dietitian-profile .edit-mode .basic-profile div .basic input[type="text"] {
  width: 90%;
  max-width: 150px;
}

.dietitian-profile .edit-mode .basic-profile div .basic input[type="radio"] {
  vertical-align: middle;
  margin: auto 5px 1px 3px;
}

@media (min-width: 520px) {
  .dietitian-profile .edit-mode .basic-profile div .basic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dietitian-profile .edit-mode .basic-profile div .basic label {
    margin: 0px 15px 0 39px;
  }
  .dietitian-profile .edit-mode .basic-profile div .basic #name {
    width: 140px;
  }
  .dietitian-profile .edit-mode .basic-profile div .basic div {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .dietitian-profile .edit-mode .basic-profile div .basic {
    display: -ms-grid;
    display: grid;
    width: 200px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .dietitian-profile .edit-mode .basic-profile div .basic #name {
    margin-top: 3px;
  }
  .dietitian-profile .edit-mode .basic-profile div .basic div {
    margin-right: auto;
    margin-top: 10px;
  }
  .dietitian-profile .edit-mode .basic-profile div .basic label {
    margin: 10px 14px 0 auto;
  }
  .dietitian-profile .edit-mode .basic-profile div .basic label:first-of-type {
    margin-top: 2px;
  }
  .dietitian-profile .edit-mode .basic-profile div .basic input[type="radio"] {
    vertical-align: middle;
    margin: auto 5px 1px 3px;
  }
}

.dietitian-profile .edit-mode .basic-profile div .education {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-bottom: 10px;
}

.dietitian-profile .edit-mode .basic-profile div .education #highestDegree {
  margin-left: auto;
  margin-right: 15px;
}

.dietitian-profile .edit-mode .basic-profile div .education #highestDegree::after {
  content: "*";
  color: red;
}

.dietitian-profile .edit-mode .basic-profile div .education .edu-select > input {
  display: block;
  margin: -2px 0 10px 0;
  width: 90%;
  max-width: 150px;
}

.dietitian-profile .edit-mode .basic-profile div .education .edu-select > div {
  text-align: left;
}

.dietitian-profile .edit-mode .basic-profile div .education .edu-select > div label:last-of-type {
  display: block;
}

@media (min-width: 280px) {
  .dietitian-profile .edit-mode .basic-profile div .education .edu-select > div label:last-of-type {
    display: inline-block;
  }
}

.dietitian-profile .edit-mode .basic-profile div .education .edu-select > div input {
  width: 20px;
  vertical-align: middle;
  margin: auto 1px 1px -2px;
}

@media (min-width: 520px) {
  .dietitian-profile .edit-mode .basic-profile div .education {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
  }
  .dietitian-profile .edit-mode .basic-profile div .education #highestDegree {
    margin-left: 38px;
    margin-right: 17px;
  }
  .dietitian-profile .edit-mode .basic-profile div .education .edu-select > input {
    display: inline-block;
    width: 140px;
  }
  .dietitian-profile .edit-mode .basic-profile div .education .edu-select > input + input {
    margin-left: 35px;
  }
  .dietitian-profile .edit-mode .basic-profile div .education .edu-select div label {
    width: 60px;
  }
}

@media (min-width: 1024px) {
  .dietitian-profile .edit-mode .basic-profile div .education {
    margin-left: 20px;
  }
  .dietitian-profile .edit-mode .basic-profile div .education #highestDegree {
    margin-top: 2px;
  }
  .dietitian-profile .edit-mode .basic-profile div .education .edu-select > input {
    width: 150px;
    margin-right: 10px;
  }
}

.dietitian-profile .edit-mode .basic-profile div .skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-bottom: 10px;
}

.dietitian-profile .edit-mode .basic-profile div .skills .skill {
  display: inline-block;
  margin-left: auto;
  margin-right: 20px;
}

.dietitian-profile .edit-mode .basic-profile div .skills .select-skill {
  margin-right: auto;
}

.dietitian-profile .edit-mode .basic-profile div .skills .select-skill label {
  display: block;
  margin-bottom: 5px;
}

.dietitian-profile .edit-mode .basic-profile div .skills .select-skill label input {
  margin-right: 10px;
}

@media (min-width: 520px) {
  .dietitian-profile .edit-mode .basic-profile div .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dietitian-profile .edit-mode .basic-profile div .skills .skill {
    display: block;
    margin-left: 38px;
    margin-right: 12px;
  }
  .dietitian-profile .edit-mode .basic-profile div .skills .select-skill label {
    display: inline-block;
  }
  .dietitian-profile .edit-mode .basic-profile div .skills .select-skill label input {
    vertical-align: middle;
    margin: auto 8px 1px 8px;
  }
}

@media (min-width: 1024px) {
  .dietitian-profile .edit-mode .basic-profile div .skills {
    margin-left: 10px;
  }
  .dietitian-profile .edit-mode .basic-profile div .skills .skill {
    margin-left: 48px;
  }
  .dietitian-profile .edit-mode .basic-profile div .skills .select-skill {
    margin-left: -5px;
  }
  .dietitian-profile .edit-mode .basic-profile div .skills .select-skill label {
    display: inline-block;
    margin-right: 10px;
  }
}

.dietitian-profile .edit-mode .basic-profile div .other {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.dietitian-profile .edit-mode .basic-profile div .other .title {
  text-align: right;
  margin-right: 20px;
}

.dietitian-profile .edit-mode .basic-profile div .other textarea {
  padding: 5px;
  height: 4rem;
  width: 90%;
  max-width: 150px;
}

@media (min-width: 520px) {
  .dietitian-profile .edit-mode .basic-profile div .other {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
  .dietitian-profile .edit-mode .basic-profile div .other .title {
    margin-left: 38px;
    margin-right: 17px;
  }
  .dietitian-profile .edit-mode .basic-profile div .other textarea {
    max-width: 350px;
  }
}

@media (min-width: 1024px) {
  .dietitian-profile .edit-mode .basic-profile div .other {
    margin-left: 20px;
  }
}

.dietitian-profile .edit-mode .buttons {
  text-align: right;
  position: relative;
  z-index: 5;
}

.dietitian-profile .edit-mode .buttons button {
  font-size: 20px;
  border: 1px solid beige;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #87a398;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.dietitian-profile .edit-mode .buttons button i {
  color: white;
}

.dietitian-profile .edit-mode .buttons button[title="save"] {
  margin-right: 5px;
}

.dietitian-profile .edit-mode .buttons button[title="cancel"] {
  margin-left: 5px;
}

.dietitian-profile .edit-mode .buttons button:hover {
  background-color: #87a39875;
}

.dietitian-profile .profile-data {
  background-color: #edf5f0b2;
  -webkit-box-shadow: 0 1px 3px #515a56;
          box-shadow: 0 1px 3px #515a56;
  border: 1px solid #515a5670;
  padding: 15px 5px 30px;
  border-radius: 5px;
}

.dietitian-profile .profile-data .basic-profile .img {
  margin-bottom: 20px;
}

.dietitian-profile .profile-data .basic-profile .img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 520px) {
  .dietitian-profile .profile-data .basic-profile .img img {
    width: 180px;
    height: 180px;
  }
}

@media (min-width: 1024px) {
  .dietitian-profile .profile-data .basic-profile .img div {
    margin: 10px 20px;
    margin-left: 35px;
    font-size: 12px;
    white-space: nowrap;
  }
  .dietitian-profile .profile-data .basic-profile .img img {
    margin-left: 48px;
  }
}

.dietitian-profile .profile-data .basic-profile div .determined {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.dietitian-profile .profile-data .basic-profile div .determined div {
  margin-right: auto;
  margin-bottom: 10px;
}

.dietitian-profile .profile-data .basic-profile div .determined .title {
  margin-left: auto;
  margin-right: 20px;
}

@media (min-width: 520px) {
  .dietitian-profile .profile-data .basic-profile div .determined {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1024px) {
  .dietitian-profile .profile-data .basic-profile div .determined {
    margin-top: 85px;
    margin-left: 74px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 55px 210px;
        grid-template-columns: 55px 210px;
  }
}

.dietitian-profile .profile-data .basic-profile div .basic {
  margin-bottom: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.dietitian-profile .profile-data .basic-profile div .basic div {
  margin-right: auto;
}

.dietitian-profile .profile-data .basic-profile div .basic div#name {
  padding-top: 2px;
}

.dietitian-profile .profile-data .basic-profile div .basic div.gender {
  padding-top: 10px;
}

.dietitian-profile .profile-data .basic-profile div .basic label {
  margin: 10px 20px 0 auto;
}

.dietitian-profile .profile-data .basic-profile div .basic label:first-of-type {
  margin-top: 2px;
}

@media (min-width: 520px) {
  .dietitian-profile .profile-data .basic-profile div .basic {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .dietitian-profile .profile-data .basic-profile div .basic label {
    margin: 0px 15px 0 39px;
  }
  .dietitian-profile .profile-data .basic-profile div .basic div {
    margin-right: 0;
    margin-top: 0;
  }
  .dietitian-profile .profile-data .basic-profile div .basic div#name {
    width: 140px;
  }
  .dietitian-profile .profile-data .basic-profile div .basic div.gender {
    padding-top: 0;
  }
}

@media (min-width: 1024px) {
  .dietitian-profile .profile-data .basic-profile div .basic {
    display: -ms-grid;
    display: grid;
    width: 270px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .dietitian-profile .profile-data .basic-profile div .basic #name {
    margin-top: 3px;
  }
  .dietitian-profile .profile-data .basic-profile div .basic div {
    margin-right: auto;
    margin-top: 10px;
  }
  .dietitian-profile .profile-data .basic-profile div .basic label {
    margin: 10px 20px 0 auto;
  }
  .dietitian-profile .profile-data .basic-profile div .basic label:first-of-type {
    margin-top: 2px;
  }
}

.dietitian-profile .profile-data .basic-profile div .education {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-bottom: 10px;
}

.dietitian-profile .profile-data .basic-profile div .education #highestDegree {
  margin-left: auto;
  margin-right: 20px;
}

.dietitian-profile .profile-data .basic-profile div .education .edu-select > input {
  display: block;
  margin: -2px 0 10px 0;
  width: 90%;
  max-width: 150px;
}

.dietitian-profile .profile-data .basic-profile div .education .edu-select > div {
  text-align: left;
}

.dietitian-profile .profile-data .basic-profile div .education .edu-select > div label:last-of-type {
  display: block;
}

@media (min-width: 280px) {
  .dietitian-profile .profile-data .basic-profile div .education .edu-select > div label:last-of-type {
    display: inline-block;
  }
}

.dietitian-profile .profile-data .basic-profile div .education .edu-select > div input {
  width: 20px;
  vertical-align: middle;
  margin: auto 1px 1px -2px;
}

@media (min-width: 520px) {
  .dietitian-profile .profile-data .basic-profile div .education {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .dietitian-profile .profile-data .basic-profile div .education #highestDegree {
    margin-left: 38px;
    margin-right: 15px;
  }
  .dietitian-profile .profile-data .basic-profile div .education .edu-select {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dietitian-profile .profile-data .basic-profile div .education .edu-select > div:last-of-type {
    margin-left: 20px;
  }
}

@media (min-width: 1024px) {
  .dietitian-profile .profile-data .basic-profile div .education {
    margin-left: 20px;
    margin-top: 22px;
  }
  .dietitian-profile .profile-data .basic-profile div .education #highestDegree {
    margin-top: 0;
  }
  .dietitian-profile .profile-data .basic-profile div .education .edu-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dietitian-profile .profile-data .basic-profile div .education .edu-select > input {
    width: 150px;
    margin-top: 1px;
    margin-right: 10px;
  }
  .dietitian-profile .profile-data .basic-profile div .education .edu-select > input + input {
    margin-left: 0px;
  }
  .dietitian-profile .profile-data .basic-profile div .education .edu-select div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dietitian-profile .profile-data .basic-profile div .education .edu-select div label {
    width: 80px;
  }
}

.dietitian-profile .profile-data .basic-profile div .skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 0 auto 10px;
}

.dietitian-profile .profile-data .basic-profile div .skills .skill {
  text-align: right;
  margin-right: 20px;
}

.dietitian-profile .profile-data .basic-profile div .skills .select-skill {
  margin-right: auto;
  display: -ms-grid;
  display: grid;
}

@media (min-width: 320px) {
  .dietitian-profile .profile-data .basic-profile div .skills .select-skill {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 440px) {
  .dietitian-profile .profile-data .basic-profile div .skills .select-skill {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 520px) {
  .dietitian-profile .profile-data .basic-profile div .skills .select-skill {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 520px) {
  .dietitian-profile .profile-data .basic-profile div .skills {
    margin-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dietitian-profile .profile-data .basic-profile div .skills .skill {
    display: block;
    margin-left: 38px;
    margin-right: 15px;
  }
  .dietitian-profile .profile-data .basic-profile div .skills .select-skill label {
    display: inline-block;
  }
  .dietitian-profile .profile-data .basic-profile div .skills .select-skill label input {
    vertical-align: middle;
    margin: auto 5px 1px 3px;
  }
}

@media (min-width: 1024px) {
  .dietitian-profile .profile-data .basic-profile div .skills {
    margin-left: 10px;
  }
  .dietitian-profile .profile-data .basic-profile div .skills .skill {
    margin-left: 48px;
  }
  .dietitian-profile .profile-data .basic-profile div .skills .select-skill {
    margin-left: 0;
  }
  .dietitian-profile .profile-data .basic-profile div .skills .select-skill label {
    display: inline-block;
    margin-right: 10px;
  }
}

.dietitian-profile .profile-data .basic-profile div .other {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.dietitian-profile .profile-data .basic-profile div .other .title {
  text-align: right;
  margin-right: 20px;
}

.dietitian-profile .profile-data .basic-profile div .other .title + div {
  text-align: left;
  height: 4rem;
  overflow: auto;
  width: 90%;
  max-width: 150px;
}

@media (min-width: 520px) {
  .dietitian-profile .profile-data .basic-profile div .other {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    margin-left: 38px;
  }
  .dietitian-profile .profile-data .basic-profile div .other .title {
    margin-right: 15px;
  }
  .dietitian-profile .profile-data .basic-profile div .other .title + div {
    max-width: 350px;
  }
}

@media (min-width: 1024px) {
  .dietitian-profile .profile-data .basic-profile div .other {
    margin-left: 58px;
  }
}

.dietitian-profile .profile-data .button {
  text-align: right;
  position: relative;
  z-index: 5;
}

.dietitian-profile .profile-data .button button {
  font-size: 20px;
  border: 1px solid beige;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #87a398;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.dietitian-profile .profile-data .button button i {
  color: #ffffff;
}

.dietitian-profile .profile-data .button button:hover {
  background-color: #87a39875;
}
/*# sourceMappingURL=dietitianProfile.module.css.map */