.dietitian-profile {
  text-align: center;
  padding: 15px 0;
  margin: auto;
  border-radius: 5px;
  font-size: 14px;
  input,
  textarea {
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 14px;
  }
  .title {
    font-weight: bold;
  }
  @media (min-width: 520px) {
    width: 480px;
    margin: 20px auto;
  }
  @media (min-width: 1024px) {
    text-align: left;
    width: 580px;
    margin-left: 260px;
    padding: 0;
    font-size: 16px;
    .basic-profile {
      .flexbox {
        display: flex;
        align-items: center;
        width: 500px;
        & > div:last-of-type {
          margin-top: -70px;
        }
      }
      input[type="text"] {
        padding: 2px;
      }
    }
  }
  .edit-mode {
    background-color: #ffffff;
    box-shadow: 0 2px 3px #3f4442;
    border: 1px solid #515a5670;
    padding: 15px 5px 30px;
    border-radius: 5px;
    .basic-profile {
      .img {
        position: relative;
        margin-bottom: 20px;
        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          object-fit: cover;
        }
        .uploadImg {
          display: block;
          cursor: pointer;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          position: absolute;
          left: 100px;
          right: 0;
          margin: auto;
          bottom: 5px;
          padding: 2px 5px;
          font-size: 18px;
          background-color: #9ebeabc9;
          &:hover {
            background-color: #9ebeab;
          }
          input[type="file"] {
            display: none;
          }
          i {
            color: #f1fffc;
          }
        }
        @media (min-width: 520px) {
          img {
            width: 180px;
            height: 180px;
          }
        }
        @media (min-width: 1024px) {
          & {
            div {
              margin: 10px 20px;
              margin-left: 35px;
              font-size: 12px;
              white-space: nowrap;
            }
            img {
              margin-left: 48px;
            }
            .uploadImg {
              bottom: 15px;
              left: 150px;
            }
          }
        }
      }

      // input[type="text"]:focus {
      //   outline: none;
      //   &:invalid {
      //     border: 1px solid red !important;
      //   }
      // }

      div {
        .determined {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          div {
            margin-right: auto;
            margin-bottom: 10px;
          }
          .title {
            margin-left: auto;
            margin-right: 20px;
          }

          @media (min-width: 520px) {
            display: flex;
          }
          @media (min-width: 1024px) {
            margin-left: 74px;
            margin-top: 66px;
            display: grid;
            grid-template-columns: 55px 210px;
          }
        }
        .basic {
          margin-bottom: 10px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          div {
            margin-right: auto;
            margin-top: 10px;
          }
          label {
            margin: 10px 20px 0 auto;
            &:first-of-type {
              margin-top: 2px;
            }
          }
          input[type="text"] {
            width: 90%;
            max-width: 150px;
          }

          input[type="radio"] {
            vertical-align: middle;
            margin: auto 5px 1px 3px;
          }
          @media (min-width: 520px) {
            & {
              display: flex;
              margin: auto;
              align-items: center;
              justify-content: center;
              label {
                margin: 0px 15px 0 39px;
              }

              #name {
                width: 140px;
              }
              div {
                margin-top: 0;
              }
            }
          }
          @media (min-width: 1024px) {
            display: grid;
            width: 200px;
            grid-template-columns: repeat(2, 1fr);
            #name {
              margin-top: 3px;
            }
            div {
              margin-right: auto;
              margin-top: 10px;
            }
            label {
              margin: 10px 20px 0 auto;
              &:first-of-type {
                margin-top: 2px;
              }
            }
            input[type="radio"] {
              vertical-align: middle;
              margin: auto 5px 1px 3px;
            }
          }
        }
        .education {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          margin-bottom: 10px;
          #highestDegree {
            margin-left: auto;
            margin-right: 20px;
          }
          .edu-select {
            & > input {
              display: block;
              margin: -2px 0 10px 0;
              width: 90%;
              max-width: 150px;
            }
            & > div {
              text-align: left;
              label:last-of-type {
                display: block;
                @media (min-width: 280px) {
                  display: inline-block;
                }
              }
              input {
                width: 20px;
                vertical-align: middle;
                margin: auto 1px 1px -2px;
              }
            }
          }

          @media (min-width: 520px) {
            & {
              display: flex;
              margin-top: 10px;
              #highestDegree {
                margin-left: 38px;
                margin-right: 17px;
              }
              .edu-select {
                & > input {
                  display: inline-block;
                  width: 140px;
                  & + input {
                    margin-left: 35px;
                  }
                }
                div {
                  label {
                    width: 60px;
                  }
                }
              }
            }
          }
          @media (min-width: 1024px) {
            & {
              margin-left: 20px;
              #highestDegree {
                margin-top: 2px;
              }
              .edu-select {
                & > input {
                  width: 150px;
                  margin-right: 10px;
                }
              }
            }
          }
        }
        .skills {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          margin-bottom: 10px;
          .skill {
            display: inline-block;
            margin-left: auto;
            margin-right: 20px;
          }
          .select-skill {
            margin-right: auto;
            label {
              display: block;
              margin-bottom: 5px;
              input {
                margin-right: 10px;
              }
            }
          }
          @media (min-width: 520px) {
            & {
              display: flex;
              .skill {
                display: block;
                margin-left: 38px;
                margin-right: 12px;
              }
              .select-skill {
                label {
                  display: inline-block;
                  input {
                    vertical-align: middle;
                    margin: auto 8px 1px 8px;
                  }
                }
              }
            }
          }
          @media (min-width: 1024px) {
            & {
              margin-left: 10px;
              .skill {
                margin-left: 48px;
              }
              .select-skill {
                margin-left: -5px;
                label {
                  display: inline-block;
                  margin-right: 10px;
                }
              }
            }
          }
        }
        .other {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          // margin: auto 10px;
          .title {
            text-align: right;
            margin-right: 20px;
          }
          textarea {
            padding: 5px;
            height: 4rem;
            width: 90%;
            max-width: 150px;
          }
          @media (min-width: 520px) {
            & {
              display: flex;
              text-align: left;
              // margin-left: 35px;
              .title {
                margin-left: 38px;
                margin-right: 17px;
              }
              textarea {
                max-width: 350px;
              }
            }
          }
          @media (min-width: 1024px) {
            & {
              margin-left: 20px;
            }
          }
        }
      }
    }
    .buttons {
      text-align: right;
      position: relative;
      z-index: 5;
      button {
        font-size: 20px;
        border: 1px solid beige;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        background-color: #87a39875;
        transition: background-color 0.3s;
        i {
          color: white;
        }
        &[title="save"] {
          margin-right: 5px;
        }
        &[title="cancel"] {
          margin-left: 5px;
        }
        &:hover {
          background-color: #87a398;
        }
      }
    }
  }
}

.dietitian-profile {
  .profile-data {
    background-color: #edf5f0b2;
    box-shadow: 0 1px 3px #515a56;
    border: 1px solid #515a5670;
    padding: 15px 5px 30px;
    border-radius: 5px;
    .basic-profile {
      .img {
        margin-bottom: 20px;
        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          object-fit: cover;
        }
        @media (min-width: 520px) {
          img {
            width: 180px;
            height: 180px;
          }
        }
        @media (min-width: 1024px) {
          & {
            div {
              margin: 10px 20px;
              margin-left: 35px;
              font-size: 12px;
              white-space: nowrap;
            }
            img {
              margin-left: 48px;
            }
          }
        }
      }
      div {
        .determined {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          div {
            margin-right: auto;
            margin-bottom: 10px;
          }
          .title {
            margin-left: auto;
            margin-right: 20px;
          }
          @media (min-width: 520px) {
            display: flex;
          }
          @media (min-width: 1024px) {
            & {
              margin-top: 85px;
              margin-left: 74px;
              display: grid;
              grid-template-columns: 55px 210px;
            }
          }
        }
        .basic {
          margin-bottom: 10px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          div {
            margin-right: auto;
            &#name {
              padding-top: 2px;
            }
            &.gender {
              padding-top: 10px;
            }
          }
          label {
            margin: 10px 20px 0 auto;
            &:first-of-type {
              margin-top: 2px;
            }
          }

          @media (min-width: 520px) {
            & {
              text-align: left;
              display: flex;
              align-items: center;
              label {
                margin: 0px 15px 0 39px;
              }
              div {
                margin-right: 0;
                margin-top: 0;
                &#name {
                  width: 140px;
                }
                &.gender {
                  padding-top: 0;
                }
              }
            }
          }
          @media (min-width: 1024px) {
            display: grid;
            width: 270px;
            grid-template-columns: repeat(2, 1fr);
            #name {
              margin-top: 3px;
            }
            div {
              margin-right: auto;
              margin-top: 10px;
            }
            label {
              margin: 10px 20px 0 auto;
              &:first-of-type {
                margin-top: 2px;
              }
            }
          }
        }
        .education {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          margin-bottom: 10px;
          #highestDegree {
            margin-left: auto;
            margin-right: 20px;
          }
          .edu-select {
            & > input {
              display: block;
              margin: -2px 0 10px 0;
              width: 90%;
              max-width: 150px;
            }
            & > div {
              text-align: left;
              label:last-of-type {
                display: block;
                @media (min-width: 280px) {
                  display: inline-block;
                }
              }
              input {
                width: 20px;
                vertical-align: middle;
                margin: auto 1px 1px -2px;
              }
            }
          }

          @media (min-width: 520px) {
            & {
              display: flex;
              margin-top: 10px;
              margin-bottom: 5px;
              #highestDegree {
                margin-left: 38px;
                margin-right: 15px;
              }
              .edu-select {
                text-align: left;
                display: flex;
                & > div:last-of-type {
                  margin-left: 20px;
                }
              }
            }
          }
          @media (min-width: 1024px) {
            & {
              margin-left: 20px;
              margin-top: 22px;
              #highestDegree {
                margin-top: 0;
              }
              .edu-select {
                display: flex;
                & > input {
                  width: 150px;
                  margin-top: 1px;
                  margin-right: 10px;
                  & + input {
                    margin-left: 0px;
                  }
                }
                div {
                  display: flex;
                  label {
                    width: 80px;
                  }
                }
              }
            }
          }
        }
        .skills {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          margin: 0 auto 10px;
          .skill {
            text-align: right;
            margin-right: 20px;
          }
          .select-skill {
            margin-right: auto;
            display: grid;
            @media (min-width: 320px) {
              grid-template-columns: repeat(2, 1fr);
            }
            @media (min-width: 440px) {
              grid-template-columns: repeat(3, 1fr);
            }
            @media (min-width: 520px) {
              grid-template-columns: repeat(4, 1fr);
            }
          }
          @media (min-width: 520px) {
            & {
              margin-bottom: 5px;
              display: flex;
              .skill {
                display: block;
                margin-left: 38px;
                margin-right: 15px;
              }
              .select-skill {
                label {
                  display: inline-block;
                  input {
                    vertical-align: middle;
                    margin: auto 5px 1px 3px;
                  }
                }
              }
            }
          }
          @media (min-width: 1024px) {
            & {
              margin-left: 10px;
              .skill {
                margin-left: 48px;
              }
              .select-skill {
                margin-left: 0;
                label {
                  display: inline-block;
                  margin-right: 10px;
                }
              }
            }
          }
        }
        .other {
          // margin: auto 10px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          .title {
            text-align: right;
            margin-right: 20px;
          }
          .title + div {
            text-align: left;
            height: 4rem;
            overflow: auto;
            width: 90%;
            max-width: 150px;
          }
          @media (min-width: 520px) {
            & {
              display: flex;
              text-align: left;
              margin-left: 38px;
              .title + div {
                max-width: 350px;
              }
            }
          }
          @media (min-width: 1024px) {
            & {
              margin-left: 58px;
              .title + div {
                margin-left: -5px;
              }
            }
          }
        }
      }
    }
    .button {
      text-align: right;
      position: relative;
      z-index: 5;
      button {
        font-size: 20px;
        border: 1px solid beige;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        background-color: #87a39875;
        transition: background-color 0.3s;
        i {
          color: #ffffff;
        }
        &:hover {
          background-color: #87a398;
        }
      }
    }
  }
}
