.d-main {
  overflow-x: hidden;
}

.daily-diet {
  text-align: center;
  .date-selector {
    input[type="date"] {
      width: 150px;
      margin-bottom: 20px;
    }
  }
  .meal {
    margin: 10px 0;
    .meal-title {
      background-color: yellow;
      padding: 10px 0;
      border-radius: 10px;
      cursor: pointer;
    }
    .diet-record {
      margin: 20px 0;
      .eat-time {
        display: flex;
        justify-content: center;
        .title {
          margin-right: 5px;
        }
        #eat-time {
          width: 80px;
        }
      }
      .col {
        margin-top: 10px;
        .food-images {
          max-height: 200px;
          overflow: auto;
          margin: 10px 0;
          .food-image {
            img {
              width: 100px;
              height: 100px;
              object-fit: cover;
            }
            i {
              transition: all 0.5s;
              cursor: pointer;
              &:hover {
                transform: scale(1.2);
                color: red;
              }
            }
          }
        }
        .image-record {
          margin-bottom: 10px;
        }
        .uploadImg {
          cursor: pointer;
          border-radius: 5px;
          padding: 2px 5px;
          margin-top: 20px;
          border: 1px solid black;
          background-color: #fdf8ee;
          input {
            display: none;
          }
        }
      }
      .meal-content {
        text-align: left;
        .content-title {
          margin-right: 5px;
          vertical-align: middle;
        }
        .content-text {
          margin-top: 10px;
          border: 1px solid black;
          padding: 5px;
          max-height: 80px;
          overflow: auto;
        }
        .customer-text {
          margin-top: 10px;
          padding: 5px;
          height: 3rem;
          width: 100%;
        }
      }
    }
    .dietitian-record {
      font-size: 12px;

      table {
        padding: 2px 2px 20px;
        display: block;
        overflow-x: auto;
        border-collapse: collapse;
        th {
          padding: 5px 0;
        }
        th + th {
          border-right: 1px solid #2c2a28;
        }
        th:last-of-type {
          border: none;
        }
        th:nth-child(2) {
          padding-right: 20px;
        }
        thead {
          .item-title {
            background-color: aquamarine;
          }
        }
        tbody {
          tr:nth-child(even) {
            background-color: aqua;
          }

          i {
            padding-left: 10px;
            transition: all 0.5s;
            cursor: pointer;
            &:hover {
              transform: scale(1.2);
              color: red;
            }
          }

          .food-input {
            background-color: #c7c7c76c !important;
            padding: 5px 0;
            th + th {
              min-width: 120px;
            }
            input {
              text-align: center;
              width: 150px;
              border: none;
              background-color: unset;
            }
            .input-number {
              padding-left: 0;
              width: 100px;
            }
          }
        }
        tfoot {
          .meal-plus::after {
            background-image: url("../images/add.svg");
            background-size: cover;
            display: inline-block;
            width: 20px;
            height: 20px;
            content: "";
            cursor: pointer;
            &:hover {
              transform: scale(1.3);
            }
          }
        }
      }
    }

    .customer-table {
      font-size: 12px;

      table {
        text-align: center;
        padding: 2px 2px 20px;
        display: block;
        overflow-x: auto;
        border-collapse: collapse;
        th {
          padding: 5px 0;
          min-width: 120px;
        }
        th + th {
          border-left: 1px solid #2c2a28;
        }
        thead {
          .item-title {
            background-color: aquamarine;
          }
        }
        tbody {
          tr:nth-child(even) {
            background-color: aqua;
          }
        }
      }
    }
  }

  .diet-analysis {
    margin: 30px auto 0;
    padding: 10px 0;
    h3 {
      margin: 10px;
    }
    .analysis-table {
      margin: auto;
      table {
        font-size: 12px;
        display: block;
        overflow-x: auto;
        border-collapse: collapse;
        padding: 2px 2px 20px;
        th {
          min-width: 90px;
          padding: 5px 2px;
        }
        th + th {
          border-left: 1px solid #2c2a28;
        }
        thead {
          .item-title {
            background-color: aquamarine;
          }
        }
        tbody {
          tr:nth-child(even) {
            background-color: aqua;
          }
        }
      }
    }
    .advice {
      text-align: left;
      font-size: 16px;
      textarea {
        margin-top: 10px;
        padding: 5px;
        width: 100%;
        max-width: 450px;
        height: 5rem;
      }
      .advice-title {
        margin-bottom: 5px;
      }
    }
  }

  button {
    margin-top: 10px;
    padding: 2px 10px;
    border: 1px solid black;
    background-color: bisque;
  }

  @media (min-width: 520px) {
    & {
      text-align: left;
      .date-selector {
        text-align: center;
        max-width: 720px;
        margin: auto;
        input[type="date"] {
          margin: 20px 0 0;
        }
      }
      h3 {
        margin: 20px auto 10px;
        max-width: 720px;
      }
      .meal {
        .meal-title {
          max-width: 720px;
          padding: 10px 30px;
          margin: auto;
        }
        .diet-record {
          text-align: center;
          margin: 20px auto;
          max-width: 600px;
          .eat-time {
            justify-content: flex-start;
            input {
              padding-left: 10px;
              letter-spacing: 5px;
            }
          }
          .col {
            text-align: left;
            .food-images {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              .food-image {
                img {
                  width: 150px;
                  height: 150px;
                }
                div {
                  width: 150px;
                  text-align: center;
                }
              }
            }
          }
          .meal-content {
            .customer-text {
              height: 5rem;
            }
          }
        }
        .dietitian-record {
          text-align: center;
          margin: auto;
          width: 80%;
          font-size: 1rem;
          table {
            th {
              padding: 10px 0;
            }
          }
        }
        .customer-table {
          text-align: center;
          margin: auto;
          width: 80%;
          font-size: 1rem;
          table {
            th {
              padding: 10px 0;
            }
          }
        }
      }
      .diet-analysis {
        width: 85%;
        max-width: 750px;

        .analysis-table {
          table {
            font-size: 16px;
            text-align: center;
            th {
              min-width: 120px;
            }
          }
        }
      }
    }
  }

  @media (min-width: 1024px) {
    & {
      margin-left: 300px;
      h3 {
        margin: 0;
      }
      .date-selector {
        margin: 0;
        text-align: left;
        input[type="date"] {
          margin: 20px 0 10px;
          padding-left: 4px;
          letter-spacing: 2px;
        }
      }
      .meal {
        .meal-title {
          max-width: 720px;
          padding: 10px 30px;
          margin: 0;
        }
        .diet-record {
          text-align: center;
          max-width: 720px;
          margin: 20px 0;
          .eat-time {
            justify-content: flex-start;
          }
          .col {
            text-align: left;
            .food-images {
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              .food-image {
                img {
                  width: 150px;
                  height: 150px;
                }
                div {
                  width: 150px;
                  text-align: center;
                }
              }
            }
          }
          .meal-content {
            .customer-text {
              height: 7rem;
            }
          }
        }

        .dietitian-record {
          width: 95%;
          display: inline;
          table {
            th {
              padding: 10px 0;
            }
            input {
              font-size: 16px;
            }
          }
        }
        .customer-table {
          width: 95%;
          display: inline;
          table {
            th {
              padding: 10px 0;
            }
            input {
              font-size: 16px;
            }
          }
        }
      }
      .diet-analysis {
        margin: 0;
      }
    }
  }
}
