.d-main {
  overflow-x: hidden;
}

.daily-diet .date-selector {
  margin: auto;
  max-width: 580px;
}

.daily-diet .date-selector input[type="date"] {
  width: 180px;
  margin-bottom: 20px;
  border: 1px solid grey;
  border-radius: 5px;
}

.daily-diet .date-selector input[type="date"]:focus {
  outline: none !important;
  border: 2px solid #64b795;
}

.daily-diet .title {
  font-weight: bold;
}

.daily-diet h5 {
  max-width: 580px;
  padding: 15px 0 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.daily-diet ul {
  max-width: 580px;
  margin: auto;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 15px 5px 5px;
}

.daily-diet ul li.meal-title {
  list-style: none;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  border-left: 5px solid #286d46;
  color: #286d46;
  -webkit-box-shadow: 0 1px 1px #8a8888;
          box-shadow: 0 1px 1px #8a8888;
  margin-bottom: 10px;
  letter-spacing: 2px;
  border-radius: 3px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 14px;
  cursor: pointer;
  padding: 3px 10px;
  width: 80%;
  opacity: 0.8;
}

.daily-diet ul li.meal-title:hover {
  -webkit-transform: rotateZ(-5deg);
          transform: rotateZ(-5deg);
  font-weight: bold;
  -webkit-box-shadow: 0 2px 3px #8a8888;
          box-shadow: 0 2px 3px #8a8888;
}

.daily-diet ul .li-active {
  -webkit-transform: rotateZ(-5deg);
          transform: rotateZ(-5deg);
  font-weight: bold;
  -webkit-box-shadow: 0 2px 3px #8a8888 !important;
          box-shadow: 0 2px 3px #8a8888 !important;
  opacity: 1 !important;
}

.daily-diet .mealCol {
  max-width: 580px;
  margin: 20px auto 40px;
  padding: 10px 25px;
  min-height: 200px;
  -webkit-box-shadow: 0 1px 3px #515a56;
          box-shadow: 0 1px 3px #515a56;
  border-radius: 5px;
  background-color: #fafafaad;
}

.daily-diet .mealCol .meal {
  margin: 10px 0;
}

.daily-diet .mealCol .meal .diet-record {
  margin: 20px 0;
}

.daily-diet .mealCol .meal .diet-record .eat-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.daily-diet .mealCol .meal .diet-record .eat-time .title {
  margin-right: 5px;
}

.daily-diet .mealCol .meal .diet-record .eat-time input {
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  width: 50%;
  max-width: 150px;
  margin-left: 10px;
}

.daily-diet .mealCol .meal .diet-record .eat-time input:focus {
  outline: none !important;
  border: 2px solid #64b795;
}

.daily-diet .mealCol .meal .diet-record .col {
  margin-top: 10px;
}

.daily-diet .mealCol .meal .diet-record .col .food-images {
  max-height: 320px;
  overflow: auto;
  margin: 10px 0;
}

.daily-diet .mealCol .meal .diet-record .col .food-images .food-image img {
  width: 150px;
  height: 150px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -o-object-fit: cover;
     object-fit: cover;
}

.daily-diet .mealCol .meal .diet-record .col .food-images .food-image i {
  display: inline-block;
  margin-top: 10px;
  margin-left: 65px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.daily-diet .mealCol .meal .diet-record .col .food-images .food-image i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #037570;
}

@media (min-width: 520px) {
  .daily-diet .mealCol .meal .diet-record .col .food-images .food-image i {
    margin-left: 30px;
  }
}

@media (min-width: 1024px) {
  .daily-diet .mealCol .meal .diet-record .col .food-images .food-image i {
    margin-left: 50px;
  }
}

.daily-diet .mealCol .meal .diet-record .col .image-record {
  margin-bottom: 10px;
}

.daily-diet .mealCol .meal .diet-record .col .uploadImg {
  cursor: pointer;
  font-size: 12px;
  border-radius: 5px;
  padding: 3px 8px;
  letter-spacing: 2px;
  margin-top: 20px;
  border: 1px solid black;
  background-color: #fdf8ee;
}

.daily-diet .mealCol .meal .diet-record .col .uploadImg input {
  display: none;
}

@media (min-width: 520px) {
  .daily-diet .mealCol .meal .diet-record .col .uploadImg {
    font-size: 14px;
  }
}

.daily-diet .mealCol .meal .diet-record .meal-content {
  text-align: left;
}

.daily-diet .mealCol .meal .diet-record .meal-content .title {
  margin-right: 5px;
  vertical-align: middle;
}

.daily-diet .mealCol .meal .diet-record .meal-content .content-text {
  margin-top: 10px;
  background-color: #d8f0e4;
  border-radius: 5px;
  padding: 5px 10px;
  max-height: 5rem;
  overflow: auto;
}

.daily-diet .mealCol .meal .diet-record .meal-content .customer-text {
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px;
  padding: 5px 10px;
  height: 5rem;
  width: 100%;
}

.daily-diet .mealCol .meal .diet-record .meal-content .customer-text:focus {
  outline: none !important;
  border: 2px solid #64b795;
}

.daily-diet .mealCol .meal .diet-record .button {
  text-align: center;
}

.daily-diet .mealCol .meal .diet-record .button button {
  width: 90px;
  margin: 10px 0 5px;
  padding: 2px 8px;
  border-radius: 5px;
  outline: none;
  border: none;
  -webkit-transition: opacity 0.3s, width 0.3s;
  transition: opacity 0.3s, width 0.3s;
  background-color: #015830;
  color: white;
  letter-spacing: 2px;
}

.daily-diet .mealCol .meal .diet-record .button button:hover {
  opacity: 0.7;
}

.daily-diet .mealCol .meal .dietitian-record {
  font-size: 12px;
  background-color: #ffffff;
  text-align: center;
}

.daily-diet .mealCol .meal .dietitian-record table {
  padding: 2px 2px 120px;
  display: block;
  overflow-x: auto;
  border-collapse: collapse;
}

.daily-diet .mealCol .meal .dietitian-record table th {
  padding: 5px 0;
}

.daily-diet .mealCol .meal .dietitian-record table th:last-of-type {
  border: none;
}

.daily-diet .mealCol .meal .dietitian-record table th:nth-child(2) {
  padding-right: 20px;
}

.daily-diet .mealCol .meal .dietitian-record table thead .item-title {
  background-color: #286d46;
  color: white;
}

.daily-diet .mealCol .meal .dietitian-record table tbody tr:nth-child(even) {
  background-color: #e0ffef;
}

.daily-diet .mealCol .meal .dietitian-record table tbody i {
  padding-left: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.daily-diet .mealCol .meal .dietitian-record table tbody i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #037570;
}

.daily-diet .mealCol .meal .dietitian-record table tbody .food-input {
  background-color: #c7c7c76c !important;
  padding: 5px 0;
}

.daily-diet .mealCol .meal .dietitian-record table tbody .food-input th + th {
  min-width: 120px;
}

.daily-diet .mealCol .meal .dietitian-record table tbody .food-input input {
  text-align: center;
  width: 150px;
  border: none;
  background-color: unset;
}

.daily-diet .mealCol .meal .dietitian-record table tbody .food-input .input-number {
  padding-left: 0;
  width: 100px;
}

.daily-diet .mealCol .meal .dietitian-record table tfoot .meal-plus div {
  border-radius: 50%;
  background-color: #87a39875;
  width: 30px;
  height: 30px;
  margin: auto;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  font-size: 18px;
  padding-top: 2px;
  cursor: pointer;
}

.daily-diet .mealCol .meal .dietitian-record table tfoot .meal-plus div i {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.daily-diet .mealCol .meal .dietitian-record table tfoot .meal-plus div:hover {
  background-color: #87a398;
}

.daily-diet .mealCol .meal .dietitian-record table tfoot .meal-plus div:hover i {
  color: white;
}

.daily-diet .mealCol .meal .dietitian-record table tfoot .meal-plus::after {
  cursor: pointer;
}

.daily-diet .mealCol .meal .dietitian-record table tfoot .meal-plus::after:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.daily-diet .mealCol .meal .customer-table {
  font-size: 12px;
  background-color: #ffffff;
  text-align: center;
}

.daily-diet .mealCol .meal .customer-table table {
  padding: 2px 2px 20px;
  display: block;
  overflow-x: auto;
  border-collapse: collapse;
}

.daily-diet .mealCol .meal .customer-table table th {
  padding: 5px 0;
  min-width: 150px;
}

.daily-diet .mealCol .meal .customer-table table th + th {
  min-width: 120px;
}

.daily-diet .mealCol .meal .customer-table table thead .item-title {
  background-color: #286d46;
  color: white;
}

.daily-diet .mealCol .meal .customer-table table tbody tr:nth-child(even) {
  background-color: #e0ffef;
}

.daily-diet .mealCol .searchBox {
  width: 150px;
  max-height: 120px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.daily-diet .mealCol .searchBox div {
  padding: 6px 10px 5px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border-top: 1px dashed #015830;
}

.daily-diet .mealCol .searchBox div:first-of-type {
  border-top: none;
}

.daily-diet .mealCol .searchBox div:hover {
  cursor: pointer;
  background-color: #d8f0e4;
}

@media (min-width: 520px) {
  .daily-diet .mealCol .searchBox {
    max-height: 150px;
  }
}

.daily-diet .diet-analysis {
  text-align: center;
  margin: 30px auto 0;
  padding: 10px 0;
}

.daily-diet .diet-analysis .analysis-table {
  margin: auto;
}

.daily-diet .diet-analysis .analysis-table table {
  background-color: #ffffff;
  font-size: 12px;
  display: block;
  overflow-x: auto;
  border-collapse: collapse;
  padding: 2px 2px;
}

.daily-diet .diet-analysis .analysis-table table th {
  min-width: 90px;
  padding: 5px 2px;
}

.daily-diet .diet-analysis .analysis-table table thead .item-title {
  background-color: #286d46;
  color: white;
}

.daily-diet .diet-analysis .analysis-table table tbody tr:nth-child(even) {
  background-color: #e0ffef;
}

.daily-diet .diet-analysis .advice {
  margin-top: 20px;
  text-align: left;
}

.daily-diet .diet-analysis .advice textarea {
  display: block;
  font-size: 14px;
  padding: 5px;
  width: 100%;
  max-width: 450px;
  height: 5rem;
  border-radius: 5px;
  border: 1px solid grey;
}

.daily-diet .diet-analysis .advice textarea:focus {
  outline: none !important;
  border: 2px solid #64b795;
}

.daily-diet .diet-analysis .advice .button {
  text-align: center;
  max-width: 450px;
  margin-top: 10px;
}

.daily-diet .diet-analysis .advice .button button {
  width: 90px;
  margin: 10px 0 5px;
  padding: 2px 8px;
  border-radius: 5px;
  outline: none;
  border: none;
  -webkit-transition: opacity 0.3s, width 0.3s;
  transition: opacity 0.3s, width 0.3s;
  background-color: #015830;
  color: white;
  letter-spacing: 2px;
}

.daily-diet .diet-analysis .advice .button button:hover {
  opacity: 0.7;
}

.daily-diet .diet-analysis .advice .c-advice {
  background-color: #d8f0e4;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
  max-width: 450px;
  height: 5rem;
  overflow: auto;
}

@media (min-width: 480px) {
  .daily-diet .mealCol .meal .diet-record .col .food-images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 520px) {
  .daily-diet {
    text-align: left;
  }
  .daily-diet ul li.meal-title {
    padding: 8px 10px;
    letter-spacing: 20px;
    font-size: 14px;
    text-indent: 20px;
  }
  .daily-diet .mealCol .meal .diet-record {
    text-align: center;
    margin: 20px auto;
  }
  .daily-diet .mealCol .meal .diet-record .eat-time {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .daily-diet .mealCol .meal .diet-record .eat-time input {
    letter-spacing: 2px;
  }
  .daily-diet .mealCol .meal .diet-record .col {
    text-align: left;
  }
  .daily-diet .mealCol .meal .diet-record .col .food-images {
    max-height: 380px;
  }
  .daily-diet .mealCol .meal .diet-record .col .food-images .food-image img {
    width: 180px;
    height: 180px;
  }
  .daily-diet .mealCol .meal .diet-record .col .food-images .food-image div {
    width: 150px;
    text-align: center;
  }
  .daily-diet .mealCol .meal .diet-record .meal-content .customer-text {
    height: 5rem;
  }
  .daily-diet .mealCol .meal .dietitian-record {
    text-align: center;
    font-size: 1rem;
  }
  .daily-diet .mealCol .meal .dietitian-record table th {
    padding: 10px 0;
  }
  .daily-diet .mealCol .meal .customer-table {
    text-align: center;
    font-size: 1rem;
  }
  .daily-diet .mealCol .meal .customer-table table th {
    padding: 10px 0;
  }
  .daily-diet .diet-analysis {
    max-width: 722px;
  }
  .daily-diet .diet-analysis .analysis-table table {
    font-size: 16px;
    text-align: center;
  }
  .daily-diet .diet-analysis .analysis-table table th {
    min-width: 120px;
  }
  .daily-diet .diet-analysis .advice .button {
    text-align: left;
  }
  .daily-diet .diet-analysis .advice .button button {
    width: 120px;
  }
}

@media (min-width: 1024px) {
  .daily-diet {
    margin-left: 260px;
    margin-right: 20px;
    max-width: 1000px;
  }
  .daily-diet h5 {
    margin: 0;
    max-width: 1000px;
  }
  .daily-diet .title {
    font-size: 18px;
  }
  .daily-diet .date-selector {
    margin: 0;
    text-align: left;
  }
  .daily-diet .date-selector input[type="date"] {
    margin: 20px 0 10px;
    padding-left: 4px;
    letter-spacing: 2px;
  }
  .daily-diet ul {
    margin: 0;
    max-width: 1000px;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
  .daily-diet ul li.meal-title {
    letter-spacing: 10px;
    font-size: 16px;
    text-indent: 10px;
  }
  .daily-diet .mealCol {
    max-width: 1000px;
  }
  .daily-diet .mealCol .meal .diet-record {
    text-align: center;
    margin: 20px 0;
  }
  .daily-diet .mealCol .meal .diet-record .eat-time {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .daily-diet .mealCol .meal .diet-record .col {
    text-align: left;
  }
  .daily-diet .mealCol .meal .diet-record .col .food-images {
    margin: 0;
    max-width: 1000px;
    max-height: 450px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .daily-diet .mealCol .meal .diet-record .col .food-images .food-image img {
    width: 200px;
    height: 200px;
  }
  .daily-diet .mealCol .meal .diet-record .col .food-images .food-image div {
    width: 150px;
    text-align: center;
  }
}

@media (min-width: 1024px) and (min-width: 1200px) {
  .daily-diet .mealCol .meal .diet-record .col .food-images {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .daily-diet .mealCol .meal .diet-record .meal-content {
    max-width: 600px;
  }
  .daily-diet .mealCol .meal .diet-record .meal-content .customer-text {
    height: 7rem;
  }
  .daily-diet .mealCol .meal .diet-record .button {
    text-align: left;
  }
  .daily-diet .mealCol .meal .diet-record .button button {
    width: 120px;
  }
  .daily-diet .mealCol .meal .dietitian-record {
    width: 95%;
    display: inline;
  }
  .daily-diet .mealCol .meal .dietitian-record table th {
    padding: 10px 0;
  }
  .daily-diet .mealCol .meal .dietitian-record table input {
    font-size: 16px;
  }
  .daily-diet .mealCol .meal .customer-table {
    width: 95%;
    display: inline;
  }
  .daily-diet .mealCol .meal .customer-table table th {
    padding: 10px 0;
  }
  .daily-diet .mealCol .meal .customer-table table input {
    font-size: 16px;
  }
  .daily-diet .diet-analysis {
    margin: 0;
  }
}
/*# sourceMappingURL=dietary.module.css.map */