.publicationData {
  // text-align: center;
  max-width: 580px;
  margin: auto;
  h5 {
    padding: 12px 0;

    font-weight: bold;
  }
  .publicationList {
    margin: 20px auto 0;
    max-height: 400px;
    overflow: auto;
    font-size: 14px;
    .publication {
      background-color: #ffffffc5;
      box-shadow: 0 1px 3px #515a56;
      border-radius: 5px;
      padding: 10px 15px;
      margin: 0 10px 20px;
      transition: background-color 0.3s;
      &:hover {
        background-color: #fff;
      }
      .col {
        .name {
          margin: 5px 0;
        }
        .subject {
          max-height: 80px;
          overflow: auto;
        }
      }
      .button {
        text-align: center;
        button {
          width: 80px;
          margin: 10px 0 5px;
          padding: 2px 8px;
          border-radius: 5px;
          outline: none;
          border: none;
          transition: opacity 0.3s, width 0.3s;
          background-color: #b5f5d3;
          color: #046b40;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
  @media (min-width: 320px) {
    .publicationList {
      .publication {
        .col > .flexbox {
          .flexbox {
            display: flex;
            justify-content: center;
            & > div:last-of-type {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
  @media (min-width: 520px) {
    .publicationList {
      .publication {
        .col > .flexbox {
          display: flex;
          align-items: center;
          flex-direction: row-reverse;
          justify-content: space-between;
          border-bottom: 2px solid #00753f;
          padding: 8px 0;
          .flexbox {
            justify-content: unset;
            & div:first-of-type {
              margin-right: 15px;
            }
          }
        }
        .col {
          .subject {
            padding: 8px 0;
          }
        }
      }
    }
  }

  @media (min-width: 1024px) {
    margin-left: 260px;
    max-width: 800px;

    .publicationList {
      font-size: 16px;
      margin-top: 10px;
      .publication {
        position: relative;
        margin: 10px 2px 30px;
        .subject {
          margin-top: 8px;
          max-width: 600px;
        }
        .button {
          font-size: 14px;
          position: absolute;
          right: 15px;
          bottom: 12px;
        }
      }
    }
  }
}

.inviting-status {
  text-align: center;
  margin-top: 15px;
  .inviting-list {
    max-height: 300px;
    overflow: auto;
    margin-top: 20px;
    .invite {
      margin: 15px 0;
      padding: 10px 15px;
      background-color: wheat;
      .buttons {
        margin-top: 8px;
        button {
          padding: 3px 7px;
        }
        .check {
          margin-right: 5px;
          background-color: #b8ffea;
          outline: none;
          border-radius: 5px;
          border: 2px solid #094231;
          text-shadow: 0 1px 1px #6ae499;
        }
        .cancel {
          margin-left: 5px;
          background-color: #fad2c2;
          outline: none;
          border-radius: 5px;
          border: 2px solid #f34500;
          text-shadow: 0 1px 1px #fa8556;
        }
      }
    }
  }
  @media (min-width: 520px) {
    .inviting-list {
      max-width: 550px;
      margin: auto;
      .invite {
        margin: 15px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  @media (min-width: 1024px) {
    margin-left: 300px;
    h3 {
      text-align: left;
    }
    .inviting-list {
      max-width: 700px;
      margin: 10px 0;
    }
  }
}

.publicationForm {
  animation-duration: 0.4s;
  position: fixed;
  z-index: 3;
  width: 80%;
  background-color: #e3fce9;
  box-shadow: 0 1px 2px #065e39;
  border-radius: 5px;
  top: 5px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  padding: 15px 0 0;
  max-height: calc(100vh - 80px);
  overflow: auto;
  overflow-x: hidden;
  div {
    font-size: 14px;
  }
  .close {
    position: absolute;
    right: 10px;
    transition: all 0.5s;
    font-size: 20px;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
      color: #037570;
    }
  }
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 27px;
  }
  .title {
    font-weight: 700;
  }
  .data-item {
    margin: 5px 0;
    display: flex;
    div {
      width: 50%;
      text-align: left;
      margin-right: 20px;
    }
    .title {
      text-align: right;
      margin-right: 20px;
    }
  }

  .col {
    .title + div {
      max-height: 100px;
      overflow: auto;
    }
  }
  .col + .col {
    margin-bottom: 25px;
  }
  .message {
    text-align: left;
    border-top: 1.5px solid #105a3c;
    padding-top: 20px;
    h5 {
      font-weight: bold;
      font-size: 18px;
      margin-left: 10px;
      margin-bottom: 0;
    }
    h5 + div,
    h5 + textarea {
      width: 90%;
      margin: 10px auto 20px;
      max-height: 5rem;
      overflow: auto;
      display: block;
      transition: all 0.3s;
      border-radius: 5px;
    }
    h5 + div {
      padding: 5px;
      background-color: white;
    }
    textarea {
      height: 5rem;
      padding: 2px 5px;
      border-color: #73af97;
      &:focus {
        outline: none;
        border: 1.5px solid #105a3c;
      }
    }

    .buttons {
      text-align: center;
      margin-top: 20px;
      width: 100%;
      background-color: white;
      display: flex;
      justify-content: space-around;
      height: 60px;
      padding: 15px 0;
      button {
        width: 80px;
        padding: 2px 8px;
        border-radius: 5px;
        outline: none;
        border: none;
        transition: opacity 0.3s, width 0.3s;
        &.send {
          background-color: #b5f5d3;
          color: #046b40;
        }
        &.cancel {
          background-color: #dadada;
          color: #464444;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  @media (min-width: 520px) {
    width: 90%;
    margin: 20px auto;
    padding: 20px 0 0 30px;
    text-align: center;
    max-width: 500px;
    .data-item {
      div {
        width: 150px;
        margin-right: 0px;
      }
      .title {
        width: 70px;
      }
    }

    .flexbox {
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 180px;
        height: 180px;
        margin-bottom: 35px;
      }
      .basicData {
        margin-left: 60px;
        .data-item:nth-child(2) {
          margin: 8px 0;
        }
      }
    }
    .close {
      right: 25px;
    }
    .col {
      margin: 8px 0;

      .data-item {
        display: flex;
        .title + div {
          max-height: 100px;
          width: 350px;
          overflow: auto;
        }
      }
    }
    .message {
      margin-right: 30px;
      h5 + div {
        max-height: 6rem;
      }
      .buttons {
        justify-content: space-around;
        margin-top: 0;
        position: absolute;
        width: 100%;
        left: 0;
        button {
          width: 120px;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    padding-bottom: 10px;
  }
}
