@font-face {
  font-family: "Selima";
  src: url("./fonts/selima_-webfont.eot");
  src: url("./fonts/selima_-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/selima_-webfont.woff") format("woff"), url("./fonts/selima_-webfont.ttf") format("truetype"), url("./fonts/selima_-webfont.svg#Selima") format("svg"), url("./fonts/selima_.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Lexend, "Microsoft JhengHei";
}

* a {
  padding-top: 7px;
  display: inline-block;
}

* body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* .mask {
  position: fixed;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  background-color: #313131d0;
}

*::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#1e4d4e), to(#98cfba));
}

.wow {
  visibility: hidden;
}

.home-header {
  position: fixed;
  width: 100%;
  height: 77px;
  z-index: 5;
  top: 0;
  background: #ffffffea;
  -webkit-box-shadow: 0 1px 5px rgba(126, 125, 125, 0.568);
          box-shadow: 0 1px 5px rgba(126, 125, 125, 0.568);
  padding: 10px 15px;
}

.home-header div {
  margin: auto;
  max-width: 1920px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-header div #logo {
  width: 180px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.home-header div #logo:hover, .home-header div #logo:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.7;
}

.home-header div .header-nav a {
  padding-top: 18px;
  display: none;
  color: #64b795;
}

.home-header div .header-nav a:first-of-type, .home-header div .header-nav a:nth-of-type(2) {
  height: 45px;
}

.home-header div .header-nav a:hover {
  color: #358867;
  border-bottom: 2px solid #358867;
  font-weight: 700;
}

.home-header div .header-nav span.login {
  color: #64b795;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
}

.home-header div .header-nav span.login:hover {
  color: #358867;
  border-bottom: 2px solid #358867;
  font-weight: 700;
}

.home-header div .header-nav .icon:hover {
  border-bottom: unset;
  font-weight: 700;
}

.home-header div .header-nav .icon + .icon {
  display: inline-block;
  margin-top: 17px;
  cursor: pointer;
}

.home-header div .header-nav .login-image {
  position: relative;
  bottom: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.home-header div .header-nav .logout-image {
  position: relative;
  bottom: 4px;
  width: 30px;
  height: 30px;
}

.home-header div .header-nav .login-image,
.home-header div .header-nav .logout-image {
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.home-header div .header-nav .login-image:hover,
.home-header div .header-nav .logout-image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.7;
}

@media (min-width: 520px) {
  .home-header div {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .home-header div .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .home-header div .header-nav a {
    display: inline-block;
    margin-left: 0;
  }
  .home-header div .header-nav .logout-image {
    bottom: 1.5px;
  }
  .home-header div .header-nav span.login {
    margin-top: 18px;
  }
}

.home-main {
  overflow-x: hidden;
  background-color: white;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.home-main :target:before {
  content: "";
  display: block;
  height: 80px;
}

@media (min-width: 768px) {
  .home-main :target:before {
    height: 30px;
  }
}

.home-main h2 {
  font-size: 24px;
}

.home-main h3 {
  font-size: 20px;
  margin: 20px auto 10px;
}

.home-main p {
  line-height: 25px;
  font-size: 0.6rem;
}

.home-main a {
  outline: none;
}

.home-main button {
  margin-top: 20px;
  width: 200px;
  height: 40px;
  border-style: none;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  letter-spacing: 6px;
  outline: none;
  background: #1e4d4e;
  color: white;
  font-size: 12px;
}

.home-main button:hover, .home-main button:focus {
  background: #64b795;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (min-width: 520px) {
  .home-main button {
    width: 250px;
    font-size: 16px;
  }
}

.home-main .cover {
  margin-top: 76px;
  height: calc(100vh - 150px);
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #ffffff59), to(transparent)), url("../images/meal2.jpg") no-repeat center;
  background: linear-gradient(to right, #ffffff59 0 100%, transparent), url("../images/meal2.jpg") no-repeat center;
  background-attachment: fixed;
  background-position: left;
  background-size: cover;
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-main .cover .main-title {
  color: #4d4d4d;
  margin: auto;
  text-align: center;
  white-space: nowrap;
}

.home-main .cover .main-title h2 {
  font-family: Selima;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
}

.home-main .cover .main-title div {
  font-size: 12px;
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

@media (min-width: 320px) {
  .home-main .cover .main-title h2 {
    font-size: 30px;
  }
  .home-main .cover .main-title div {
    font-size: 16px;
  }
}

@media (min-width: 520px) {
  .home-main .cover .main-title h2 {
    font-size: 40px;
  }
  .home-main .cover .main-title div {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .home-main .cover {
    height: calc(100vh - 100px);
    background-position: center;
  }
  .home-main .cover .main-title {
    position: absolute;
    left: 10%;
    bottom: 20%;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .home-main .cover .main-title h2 {
    font-size: 50px;
  }
}

.home-main .col {
  position: relative;
}

.home-main .col .background {
  background: url("../images/about.png") no-repeat center;
  opacity: 0.6;
  height: 800px;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  background-attachment: fixed;
  background-size: cover;
}

@media (min-width: 400px) {
  .home-main .col .background {
    height: 600px;
  }
}

@media (min-width: 768px) {
  .home-main .col .background {
    display: none;
  }
}

.home-main .col .content {
  position: absolute;
  top: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 50px 12px 0;
  height: 90%;
}

@media (min-width: 520px) {
  .home-main .col .content {
    left: 10%;
    right: 10%;
  }
}

.home-main .col .content .about {
  background: #ffffff96;
  padding: 30px 15px;
  -webkit-box-shadow: 1px 2px 3px #00121f;
          box-shadow: 1px 2px 3px #00121f;
  max-width: 1920px;
}

.home-main .col .content .about h2,
.home-main .col .content .about h3 {
  text-align: center;
}

.home-main .col .content .about p + p {
  margin-top: 12px;
}

.home-main .col .content .about .firstImg,
.home-main .col .content .about .secondImg {
  display: none;
}

@media (min-width: 768px) {
  .home-main .col {
    position: static;
    background-color: #cbffeb8a;
  }
  .home-main .col .content {
    padding: 50px 0;
    height: unset;
    position: static;
    margin: 0px 0;
  }
  .home-main .col .content .about {
    background-color: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    padding: 0;
    margin: 0px auto auto;
  }
  .home-main .col .content .about h2,
  .home-main .col .content .about h3 {
    text-align: left;
  }
  .home-main .col .content .about section {
    -webkit-clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
            clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
    opacity: 0.9;
    background-color: #ffffffc7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    opacity: 0.85;
  }
  .home-main .col .content .about section:hover {
    opacity: 1;
  }
  .home-main .col .content .about section + section {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
            clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
    margin-top: -5%;
  }
  .home-main .col .content .about section .firstImg {
    content: url("../images/about.png");
  }
  .home-main .col .content .about section .secondImg {
    content: url("../images/plan.png");
  }
  .home-main .col .content .about section .firstImg,
  .home-main .col .content .about section .secondImg {
    display: inline-block;
    width: 50%;
    height: 50%;
    max-width: 1024px;
  }
  .home-main .col .content .about section .sectionText {
    margin: 25px 15px 25px 35px;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  .home-main .col .content .about section .sectionText h3 {
    font-size: 20px;
  }
  .home-main .col .content .about section .sectionText p {
    font-size: 16px;
    line-height: 30px;
  }
}

.contact {
  background: white;
  padding: 20px 20px 40px;
  position: relative;
  top: 120;
}

.contact h2,
.contact p {
  text-align: center;
}

.contact form {
  text-align: center;
}

.contact form label {
  text-align: left;
  display: inline-block;
  margin: 10px 0;
  width: 100%;
}

.contact form label span {
  display: inline-block;
  margin-left: 15px;
}

.contact form label div {
  margin-top: 10px;
  text-align: center;
}

.contact form label input {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 30px;
  border-style: none;
  width: 90%;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  padding: 0 5px;
}

.contact form label input:focus {
  outline: none !important;
  border: 2px solid #64b795;
}

.contact form label textarea {
  border-radius: 5px;
  padding: 2px 5px;
  width: 90%;
}

.contact form label textarea:focus {
  outline: none !important;
  border: 2px solid #64b795;
}

@media (min-width: 520px) {
  .contact form label {
    width: unset;
  }
  .contact form label span {
    display: inline-block;
    margin-left: 0px;
  }
  .contact form label input {
    width: 180px;
    -webkit-transition: none;
    transition: none;
  }
  .contact form label textarea {
    width: 400px;
  }
  .contact form label:first-of-type {
    margin-right: 40px;
  }
}

@media (min-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact section {
    width: 60%;
    max-width: 750px;
  }
}

.service {
  text-align: center;
  padding: 50px 12px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffffc4), to(transparent)), url("../images/service.png") no-repeat center;
  background: linear-gradient(#ffffffc4 0 100%, transparent), url("../images/service.png") no-repeat center;
  background-size: 100%;
}

.service p {
  font-size: 1.1rem;
  color: #4d4d4d;
  font-family: Monda;
}

.service button {
  margin-top: 0 !important;
}

@media (min-width: 520px) {
  .service p {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .service p {
    margin-right: 80px;
    font-size: 28px;
    padding: 15px 15px 0;
  }
}

#toTop {
  display: inline-block;
  position: fixed;
  z-index: 5;
  right: 8px;
  bottom: 8px;
  opacity: 0.7;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#toTop:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#toTop::before {
  content: url("../images/monotone_arrow_next_right.svg");
  width: 50px;
  height: 50px;
}

footer {
  text-align: center;
  line-height: 30px;
  padding: 40px;
  background: #013532;
  color: white;
  font-size: 0.8rem;
}

footer .gitIcon {
  color: white;
  font-size: 3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0.7;
}

footer .gitIcon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

@media (min-width: 520px) {
  footer {
    font-size: 1rem;
  }
  footer div {
    max-width: 800px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 25;
  background-color: #ffffffdc;
}

.loading img {
  width: 150px;
  position: fixed;
  z-index: 26;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  -webkit-animation: img 1s ease-in-out infinite;
          animation: img 1s ease-in-out infinite;
}

.loadFadeout {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #ffffffdc;
  -webkit-animation: fadeout 1s ease-in-out;
          animation: fadeout 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loadFadeout img {
  width: 150px !important;
  position: fixed;
  z-index: 26;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  -webkit-animation: img 1s ease-in-out infinite, fadeout 1s ease-in-out;
          animation: img 1s ease-in-out infinite, fadeout 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes img {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes img {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@-webkit-keyframes fadeout {
  0% {
    top: 0;
    opacity: 1;
    z-index: 25;
  }
  100% {
    z-index: -5;
    top: -200%;
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    top: 0;
    opacity: 1;
    z-index: 25;
  }
  100% {
    z-index: -5;
    top: -200%;
    opacity: 0;
  }
}
/*# sourceMappingURL=home.module.css.map */