.spinner {
  text-align: center;
  img {
    width: 50px !important;
    height: 50px !important;
  }
}

.nothing {
  text-align: center;
  img {
    width: 100%;
    max-width: 500px;
  }
}

.invitedList-nothing {
  line-height: 350px;
  @media (min-width: 1024px) {
    line-height: calc(100vh - 300px);
  }
}
