.spinner {
  text-align: center;
  img {
    width: 50px !important;
    height: 50px !important;
  }
}

.nothing {
  text-align: center;
  margin: auto;
  img {
    width: 100%;
    max-width: 500px;
  }
}
