.login-col {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  white-space: nowrap;
  width: 800px;

  .show {
    z-index: 25 !important;
    opacity: 1 !important;
    bottom: 0px !important;
  }

  .emailForm {
    transition: all 0.5s, height 0s !important;
    text-align: center;
    position: fixed;
    width: 80%;
    max-width: 400px;
    height: 130px;
    top: 0;
    right: 0;
    bottom: 100px;
    left: 0;
    margin: auto;
    background-color: white;
    z-index: -1;
    opacity: 0;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 5px 10px 3px #818181;
    padding-top: 10px;
    input {
      width: 150px;
      border-radius: 5px;
      padding: 2px 7px;
      border: 1px solid grey;
      outline: none;
      margin: 5px 0 0;
      transition: border-color 0.3s;
    }

    button {
      margin-top: 5px;
      padding: 2px 12px;
      border-radius: 5px;
      border: 1px solid #037570;
      background-color: #037570;
      color: white;
      &:first-of-type {
        margin-right: 5px;
        transition: all 0.5s;
        &:hover {
          background-color: #094346;
          border-color: #094346;
        }
      }
      &:last-of-type {
        margin-left: 5px;
        background-color: white;
        color: #037570;
      }
    }

    .message {
      margin: auto;
      width: 150px;
      color: #ff4d4d;
      font-size: 12px;
      height: 0;
      opacity: 0;
    }
    .showMessage {
      height: 18px;
      opacity: 1;
    }
  }
  .formHeight {
    height: 150px;
  }

  .close {
    transition: all 0.5s;
    cursor: pointer;
    &:hover {
      color: #ff4d4d !important;
      transform: scale(1.2) !important;
    }
  }
  img {
    width: 120px;
    height: 120px;
    margin-top: 15px;
  }
  .disappear {
    transform: translateY(600px);
    opacity: 0;
  }
  .appear {
    transform: translateY(0px);
    opacity: 1;
  }

  .invalid {
    border: 1.5px solid #ff4d4d !important;
    background: url("../images/alert-circle.svg") no-repeat;
    background-size: 17px;
    background-position: 95%;
    @media (min-width: 320px) {
      background-position: 97%;
    }
  }
  .valid {
    background: url("../images/check.svg") no-repeat;
    background-size: 17px;
    background-position: 95%;
    border: 1.5px solid #78d494 !important;
    @media (min-width: 320px) {
      background-position: 97%;
    }
  }

  .login,
  .signup {
    width: 80%;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 5px 10px 3px #818181;
    text-align: center;
    padding-bottom: 15px;
    transition: all 0.5s !important;
    position: fixed;
    z-index: 10;
    height: 620px;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: white;

    .close {
      position: absolute;
      right: 20px;
      top: 15px;
      font-size: 20px;
    }
    .title {
      margin: 20px 0;
      font-weight: 700;
      font-size: 20px;
    }

    ul {
      width: 100%;
      &.nav-tabs {
        border-bottom: 5px solid #037570;
      }
      & > li {
        width: 40%;

        margin-left: auto;

        &:last-of-type {
          margin-left: 0;
          margin-right: auto;
        }

        & > a {
          color: #929292;
          transition: all 0.3s;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border: 1px solid #037570 !important;
        }
        & > .active {
          background-color: #037570;
          color: white !important;
          border: 1px solid #037570;
        }
      }
    }
    button {
      display: block;
      margin: 15px auto;
      width: 80%;
      padding: 5px 0;
      border-radius: 5px;
      border: none;
      background-color: cadetblue;
      color: white;
      transition: all 0.5s;
      &:hover {
        background-color: #163031;
        transform: scale(1.1);
      }
      &:first-of-type {
        margin-top: 20px;
      }
    }
    label {
      display: block;
      margin-top: 20px;
      position: relative;
      input {
        font-size: 14px;
        padding: 5px 10px;
        width: 90%;
        border: 1px solid black;
        padding-left: 7px;
        border-radius: 5px;
        outline: none;
        transition: all 0.5s;
        transition: border-color 0.2s;
        padding-right: 30px;
        position: relative;
      }
      div {
        width: 90%;
        transition: all 0.5s;
        margin: auto;
        text-align: left;
      }
      .eye-slash,
      .eye-on {
        transition: all 0.5s;
        position: absolute;
        top: 3px;
        right: 14px;
        color: #c7c3c3;
        cursor: pointer;
      }
      .eye-on {
        color: grey;
      }
    }
    .hint {
      margin-top: 15px;
      font-size: 12px;
      letter-spacing: 2px;
      a {
        color: #3b8176 !important;
        &:hover {
          color: #022e30;
          font-weight: 800;
        }
      }
    }
    .hints {
      display: flex;
      justify-content: center;
      .hint {
        &:first-of-type {
          margin-right: 7px;
        }
        &:last-of-type {
          margin-left: 7px;
        }
      }
    }
    form {
      position: relative;
      .message {
        position: absolute;
        bottom: 80px;
        left: 0;
        right: 0;
        margin: auto;
        color: #ff4d4d;
        font-size: 12px;
        opacity: 0;
      }
      .showMessage {
        opacity: 1 !important;
      }
    }
  }

  .signup {
    button {
      margin-top: 35px !important;
    }
  }
  .login {
    form {
      .message {
        position: absolute;
        bottom: 175px;
        left: 0;
        right: 0;
        margin: auto;
        color: #ff4d4d;
        font-size: 12px;
        opacity: 0;
      }
    }
  }
  .login-image {
    display: none;
  }

  @media (min-width: 320px) {
    .login,
    .signup {
      max-width: 350px;
      label {
        margin-top: 20px;
        input {
          width: 80%;
        }
        .eye-slash,
        .eye-on {
          top: 3px;
          right: 35px;
        }
        div {
          width: 80%;
          margin: auto;
          text-align: left;
        }
      }
    }
    .emailForm {
      input {
        width: 220px;
      }
    }
  }
  @media (min-width: 520px) {
    .login,
    .signup {
      max-width: 400px;
      height: 600px;
      label {
        margin: 30px 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        input {
          height: 35px;
          max-width: 280px;
        }
        .eye-slash,
        .eye-on {
          top: 10px;
          right: 14px;
        }
        div {
          margin: 0;
          width: unset;
          margin-right: 10px;
        }
      }
      button {
        width: 65%;
      }
      form {
        .message {
          bottom: 85px;
        }
      }
    }
    .signup {
      button {
        margin-top: 40px !important;
      }
    }
    .login {
      .hint {
        margin-top: 10px;
      }
      form {
        .message {
          bottom: 170px;
          left: 0;
          right: 0;
        }
      }
    }

    .login {
      button {
        &:first-of-type {
          margin-top: 15px;
        }
      }
      .emailForm {
        input {
          width: 300px;
        }
        .message {
          width: 300px;
          text-align: left;
        }
      }
    }

    @media (min-width: 1024px) {
      position: fixed;
      z-index: 10;
      height: 600px;
      text-align: center;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;

      .login-image {
        display: block;
        width: 420px;
        height: 630px;
        background-image: url("../images/food.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top 25% right 10%;
        border-radius: 15px;
        position: absolute;
        top: -15px;
        z-index: 11;
        transition: all 0.5s;
      }

      .right {
        transform: translateX(210px);
      }
      .left {
        transform: translate(-210px);
      }

      .login,
      .signup {
        position: static;
        border-radius: 0;
        .hint {
          font-size: 14px;
          text-align: right;
          margin-right: 35px;
        }
        .hints {
          justify-content: flex-end;
          .hint {
            &:first-of-type {
              margin-right: 0;
            }
          }
        }
        form {
          .message {
            bottom: 88px;
          }
        }
      }

      .disappear {
        transform: unset;
        opacity: 0;
      }
      .appear {
        transform: unset;
        opacity: 1;
      }
      .signup {
        .close {
          left: 350px;
          top: 15px;
          font-size: 20px;
          width: 30px;
        }
      }
      .login {
        form {
          .message {
            bottom: 175px;
            right: unset;
            left: 80px;
          }
        }
      }
    }
  }
}

.loginMessage {
  visibility: hidden;
  position: fixed;
  min-width: 250px;
  margin-left: -125px;
  background-color: #025c57;
  box-shadow: 0 2px 4px #333;
  letter-spacing: 3px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 16px;
  z-index: 20;
  left: 50%;
  top: 40px;
}
.showloginMessage {
  visibility: visible;
  z-index: 20;
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 40px;
    opacity: 0.85;
  }
}
