.reverse-list {
  text-align: center;
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  @media (min-width: 1024px) {
    margin-left: 300px;
    img {
      width: 200px;
      height: 200px;
    }
  }
}
