.target-setting h5 {
  font-size: 20px;
  font-weight: bold;
}

.target-setting h5.customer-h5 {
  padding: 15px 0 10px;
  max-width: 580px;
  margin: auto;
}

.target-setting p {
  max-width: 580px;
  margin: auto;
}

.target-setting .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0 10px;
  max-width: 580px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.target-setting .flex button {
  font-size: 20px;
  border: 1px solid beige;
  position: relative;
  bottom: 6px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #87a39875;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  margin-right: 15px;
}

.target-setting .flex button i {
  color: #ffffff;
}

.target-setting .flex button:hover {
  background-color: #87a398;
}

.target-setting button {
  cursor: pointer;
}

.target-setting .title {
  font-weight: bold;
}

.target-setting .set-content {
  width: 100px;
  margin-left: 10px;
}

.target-setting input.set-content,
.target-setting textarea {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 14px;
}

.target-setting input.set-content:focus,
.target-setting textarea:focus {
  outline: none !important;
  border: 2px solid #64b795;
}

.target-setting .customer-targets,
.target-setting .c-targets {
  text-align: center;
  background-color: #edf5f0b2;
  -webkit-box-shadow: 0 1px 3px #515a56;
          box-shadow: 0 1px 3px #515a56;
  border: 1px solid #515a5670;
  padding: 15px;
  width: 95%;
  max-height: 700px;
  overflow: auto;
  margin: 10px auto;
  border-radius: 5px;
}

.target-setting .customer-targets .customer-target + .customer-target,
.target-setting .c-targets .customer-target + .customer-target {
  margin-top: 15px;
}

.target-setting .customer-targets .customer-target,
.target-setting .c-targets .customer-target {
  padding: 10px 0;
  border-radius: 5px;
  background-color: white;
  opacity: 0.8;
  -webkit-box-shadow: 0 2px 2px #515a56;
          box-shadow: 0 2px 2px #515a56;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.target-setting .customer-targets .customer-target .alter-button,
.target-setting .c-targets .customer-target .alter-button {
  text-align: right;
}

.target-setting .customer-targets .customer-target .alter-button button,
.target-setting .c-targets .customer-target .alter-button button {
  font-size: 20px;
  border: 1px solid beige;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #87a39875;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.target-setting .customer-targets .customer-target .alter-button button i,
.target-setting .c-targets .customer-target .alter-button button i {
  color: #ffffff;
}

.target-setting .customer-targets .customer-target .alter-button button:hover,
.target-setting .c-targets .customer-target .alter-button button:hover {
  background-color: #87a398;
}

.target-setting .customer-targets .customer-target .flexbox,
.target-setting .c-targets .customer-target .flexbox {
  margin: 10px 0;
  padding-left: 15px;
}

.target-setting .customer-targets .customer-target .flexbox > div,
.target-setting .c-targets .customer-target .flexbox > div {
  display: inline-block;
}

.target-setting .customer-targets .customer-target .flexbox > div.title,
.target-setting .c-targets .customer-target .flexbox > div.title {
  text-align: right;
}

.target-setting .customer-targets .customer-target .flexbox > div:last-of-type,
.target-setting .c-targets .customer-target .flexbox > div:last-of-type {
  text-align: left;
}

.target-setting .customer-targets .customer-target > .flexbox:last-of-type .title,
.target-setting .c-targets .customer-target > .flexbox:last-of-type .title {
  margin-left: 31px;
  vertical-align: top;
}

.target-setting .customer-targets .customer-target > .flexbox:last-of-type .set-content,
.target-setting .c-targets .customer-target > .flexbox:last-of-type .set-content {
  max-height: 80px;
  overflow: auto;
}

.target-setting .customer-targets .customer-target:hover,
.target-setting .c-targets .customer-target:hover {
  opacity: 1;
}

.target-setting .c-targets {
  max-height: 450px;
}

.target-setting .add-new-target {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  z-index: 3;
  position: fixed;
  height: 380px;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 10px;
  width: 80%;
  margin: auto;
  background-color: #fdfdfd;
  -webkit-box-shadow: 0 2px 2px #515a56;
          box-shadow: 0 2px 2px #515a56;
}

.target-setting .add-new-target h5 {
  text-align: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #015830;
  padding: 15px 0;
  color: white;
}

.target-setting .add-new-target .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 22px auto 8px;
  max-width: 200px;
}

.target-setting .add-new-target .buttons button {
  letter-spacing: 2px;
  font-size: 12px;
  width: 80px;
  padding: 3px 7px;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-transition: opacity 0.3s, width 0.3s;
  transition: opacity 0.3s, width 0.3s;
  padding: 5px 15px;
}

.target-setting .add-new-target .buttons button.add {
  background-color: #015830;
  color: white;
}

.target-setting .add-new-target .buttons button.cancel {
  background-color: #dbdbdb;
  color: #464444;
}

.target-setting .add-new-target .buttons button:hover {
  opacity: 0.7;
}

.target-setting .add-new-target .flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
  padding-left: 15px;
}

.target-setting .add-new-target .target-other .flexbox > div {
  vertical-align: top;
}

@media (min-width: 244px) {
  .target-setting .add-new-target .target-other .flexbox > div {
    margin-left: 31px;
  }
}

@media (min-width: 380px) {
  .target-setting .add-new-target input {
    width: 150px;
  }
  .target-setting .add-new-target .target-other .set-content {
    width: 150px;
  }
}

@media (min-width: 570px) {
  .target-setting .flexbox > h5 {
    text-align: left;
  }
  .target-setting .set-content + .set-content {
    width: 130px;
  }
  .target-setting .customer-targets,
  .target-setting .c-targets {
    overflow-x: hidden;
    max-width: 580px;
  }
  .target-setting .customer-targets .customer-target,
  .target-setting .c-targets .customer-target {
    padding: 10px;
  }
  .target-setting .customer-targets .customer-target > .flexbox:last-of-type,
  .target-setting .c-targets .customer-target > .flexbox:last-of-type {
    text-align: left;
  }
  .target-setting .customer-targets .customer-target > .flexbox:last-of-type .set-content,
  .target-setting .c-targets .customer-target > .flexbox:last-of-type .set-content {
    width: 80%;
  }
  .target-setting .customer-targets .customer-target > .flexbox:last-of-type textarea,
  .target-setting .c-targets .customer-target > .flexbox:last-of-type textarea {
    max-width: 400px;
    height: 5em;
  }
  .target-setting .customer-targets .customer-target .target-header,
  .target-setting .c-targets .customer-target .target-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4px 0;
    border-bottom: 2px solid #00753f;
  }
  .target-setting .customer-targets .customer-target .col,
  .target-setting .c-targets .customer-target .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    margin-top: 5px;
  }
  .target-setting .c-targets {
    max-height: 500px;
  }
  .target-setting .add-new-target {
    width: 90%;
    max-width: 520px;
    height: 310px;
  }
  .target-setting .add-new-target .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .target-setting .add-new-target .flexbox {
    margin: 10px 0;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .target-setting .add-new-target .target-other .set-content {
    width: 80%;
    max-width: 400px;
    height: 5em;
  }
}

@media (min-width: 1024px) {
  .target-setting {
    max-height: unset;
    margin-left: 260px;
    max-width: 800px;
  }
  .target-setting h5.customer-h5 {
    max-width: 580px;
    margin: 0;
  }
  .target-setting p {
    margin: 0;
  }
  .target-setting .flex {
    max-width: 700px;
    margin: 0;
  }
  .target-setting .flex button {
    margin-right: 0;
  }
  .target-setting .add-new-target {
    top: 30px;
  }
  .target-setting .customer-targets,
  .target-setting .c-targets {
    margin: 0;
    margin-top: 20px;
    max-width: 700px;
  }
  .target-setting .flexbox .set-content {
    width: 155px;
  }
  .target-setting .target-header .flexbox .set-content {
    width: 100px;
  }
}
/*# sourceMappingURL=target.module.css.map */