.target-setting {
  h5 {
    font-size: 20px;
    font-weight: bold;
    &.customer-h5 {
      padding: 15px 0 10px;
      max-width: 580px;
      margin: auto;
    }
  }
  p {
    max-width: 580px;
    margin: auto;
  }

  .flex {
    display: flex;
    padding: 15px 0 10px;
    max-width: 580px;
    justify-content: space-between;
    margin: auto;
    button {
      font-size: 20px;
      border: 1px solid beige;
      position: relative;
      bottom: 6px;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      background-color: #87a39875;
      transition: background-color 0.3s;
      margin-right: 15px;
      i {
        color: #ffffff;
      }
      &:hover {
        background-color: #87a398;
      }
    }
  }

  button {
    cursor: pointer;
  }
  .title {
    font-weight: bold;
  }
  .set-content {
    width: 100px;
    margin-left: 10px;
  }

  input.set-content,
  textarea {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 14px;
  }

  .customer-targets,
  .c-targets {
    text-align: center;
    background-color: #edf5f0b2;
    box-shadow: 0 1px 3px #515a56;
    border: 1px solid #515a5670;
    padding: 15px;
    width: 95%;
    max-height: 700px;
    overflow: auto;
    margin: 10px auto;
    border-radius: 5px;
    .customer-target + .customer-target {
      margin-top: 15px;
    }
    .customer-target {
      padding: 10px 0;
      border-radius: 5px;
      background-color: white;
      opacity: 0.8;
      box-shadow: 0 2px 2px #515a56;
      transition: opacity 0.3s;
      .alter-button {
        text-align: right;
        button {
          font-size: 20px;
          border: 1px solid beige;
          border-radius: 50%;
          width: 35px;
          height: 35px;
          background-color: #87a39875;
          transition: background-color 0.3s;
          margin-right: 10px;
          i {
            color: #ffffff;
          }
          &:hover {
            background-color: #87a398;
          }
        }
      }
      .flexbox {
        margin: 10px 0;
        padding-left: 15px;
      }
      .flexbox > div {
        display: inline-block;
        &.title {
          text-align: right;
        }
        &:last-of-type {
          text-align: left;
        }
      }
      & > .flexbox:last-of-type {
        .title {
          margin-left: 31px;
          vertical-align: top;
        }
        .set-content {
          max-height: 80px;
          overflow: auto;
        }
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  .c-targets {
    max-height: 450px;
  }

  .add-new-target {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    z-index: 3;
    position: fixed;
    height: 380px;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 10px;
    width: 80%;
    margin: auto;
    background-color: #fdfdfd;
    box-shadow: 0 2px 2px #515a56;
    h5 {
      text-align: center;
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      background-color: #015830;
      padding: 15px 0;
      color: white;
    }
    .buttons {
      display: flex;
      justify-content: space-around;
      margin: 22px auto 8px;
      max-width: 200px;
      button {
        letter-spacing: 2px;
        font-size: 12px;
        width: 80px;
        padding: 3px 7px;
        outline: none;
        border: none;
        border-radius: 5px;
        transition: opacity 0.3s, width 0.3s;
        padding: 5px 15px;
        &.add {
          background-color: #015830;
          color: white;
        }
        &.cancel {
          background-color: #dadada;
          color: #464444;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
    .flexbox {
      display: flex;
      justify-content: center;
      margin: 20px auto;
      padding-left: 15px;
    }
    .target-other {
      .flexbox > div {
        vertical-align: top;
        @media (min-width: 244px) {
          margin-left: 31px;
        }
      }
    }
  }
  @media (min-width: 380px) {
    .add-new-target {
      input {
        width: 150px;
      }
      .target-other {
        .set-content {
          width: 150px;
        }
      }
    }
  }
  @media (min-width: 570px) {
    .flexbox > h5 {
      text-align: left;
    }
    .set-content {
      width: 130px;
    }
    .customer-targets,
    .c-targets {
      overflow-x: hidden;

      max-width: 580px;
      .customer-target {
        padding: 10px;
        & > .flexbox:last-of-type {
          text-align: left;
          .set-content {
            width: 80%;
          }
          textarea {
            max-width: 400px;
            height: 5em;
          }
        }
        .target-header {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;
          padding: 4px 0;
          border-bottom: 2px solid #00753f;
        }
        .col {
          display: flex;
          white-space: nowrap;
          margin-top: 5px;
        }
      }
    }

    .c-targets {
      max-height: 500px;
    }

    .add-new-target {
      width: 90%;
      max-width: 520px;
      height: 310px;

      .col {
        display: flex;
      }
      .flexbox {
        margin: 10px 0;
        justify-content: unset;
      }
      .target-other {
        .set-content {
          width: 80%;
          max-width: 400px;
          height: 5em;
        }
      }
    }
  }
  @media (min-width: 1024px) {
    max-height: unset;
    margin-left: 260px;
    max-width: 800px;
    h5 {
      &.customer-h5 {
        max-width: 580px;
        margin: 0;
      }
    }
    p {
      margin: 0;
    }
    .flex {
      max-width: 700px;
      margin: 0;
      button {
        margin-right: 0;
      }
    }
    .add-new-target {
      top: 30px;
    }
    .customer-targets,
    .c-targets {
      margin: 0;
      margin-top: 20px;
      max-width: 700px;
    }
    .flexbox {
      .set-content {
        width: 155px;
      }
    }
  }
}
