.whoInvite {
  max-width: 580px;
  margin: auto;
}

.whoInvite .invite-number {
  white-space: nowrap;
  font-size: 20px;
  padding: 12px 0;
  font-weight: bold;
}

.whoInvite .inviters {
  font-size: 14px;
  height: 400px;
  padding: 15px;
  background-color: #edf5f0b2;
  -webkit-box-shadow: 0 1px 3px #515a56;
          box-shadow: 0 1px 3px #515a56;
  border: 1px solid #515a5670;
  margin: 20px auto 0;
  overflow: auto;
}

.whoInvite .inviters .inviter {
  padding: 15px 15px 10px;
  background-color: white;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  border-top: 2px dashed #515a56;
}

.whoInvite .inviters .inviter:first-of-type {
  border-top: none;
}

.whoInvite .inviters .inviter:hover {
  opacity: 1;
}

.whoInvite .inviters .inviter .invite-message .inviter-name {
  margin-bottom: 5px;
}

.whoInvite .inviters .inviter .invite-message .button {
  text-align: center;
  font-size: 12px;
}

.whoInvite .inviters .inviter .invite-message .button button {
  width: 90px;
  margin: 5px 0;
  padding: 2px 8px;
  border-radius: 5px;
  outline: none;
  border: none;
  -webkit-transition: opacity 0.3s, width 0.3s;
  transition: opacity 0.3s, width 0.3s;
  background-color: #015830;
  color: white;
  letter-spacing: 2px;
}

.whoInvite .inviters .inviter .invite-message .button button:hover {
  opacity: 0.7;
}

.whoInvite .invite-data {
  text-align: center;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  padding-top: 15px;
  background-color: #edf5f0;
  -webkit-box-shadow: 0 1px 2px #515a56;
          box-shadow: 0 1px 2px #515a56;
  border-radius: 5px;
  z-index: 3;
  margin: 20px;
  width: 80%;
  overflow: auto;
  position: fixed;
  top: 10px;
  bottom: 90px;
  right: 0;
  left: 0;
  max-height: 620px;
  margin: auto;
  font-size: 14px;
}

.whoInvite .invite-data > div:first-of-type {
  position: relative;
  text-align: right;
  margin-right: 30px;
}

.whoInvite .invite-data > div:first-of-type i {
  position: fixed;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 20px;
  cursor: pointer;
}

.whoInvite .invite-data > div:first-of-type i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #037570;
}

.whoInvite .invite-data .reserve-time {
  font-weight: bold;
  font-size: 16px;
  display: block;
}

.whoInvite .invite-data img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 20px 0 27px;
}

.whoInvite .invite-data .title {
  font-weight: bold;
}

.whoInvite .invite-data .data-item {
  margin: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.whoInvite .invite-data .data-item div {
  width: 50%;
  text-align: left;
  margin-right: 20px;
}

.whoInvite .invite-data .data-item .title {
  text-align: right;
  margin-right: 20px;
}

.whoInvite .invite-data .flexcol div > .data-item > div:last-of-type {
  max-height: 100px;
  overflow: auto;
}

.whoInvite .invite-data .col {
  margin: 25px 0 10px;
  text-align: left;
  border-top: 1.5px solid #105a3c;
  padding-top: 10px;
}

.whoInvite .invite-data .col .title {
  padding: 12px 0 10px;
  margin-left: 10px;
  font-size: 18px;
}

.whoInvite .invite-data .col .title + div {
  width: 95%;
  padding: 5px;
  margin: 0 auto 20px;
  background-color: #f9fffe;
  border-radius: 5px;
  max-height: 5rem;
  overflow: auto;
}

.whoInvite .invite-data .buttons {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 60px;
  padding: 15px 0;
}

.whoInvite .invite-data .buttons button {
  letter-spacing: 2px;
  width: 80px;
  padding: 2px 8px;
  border-radius: 5px;
  outline: none;
  border: none;
  -webkit-transition: opacity 0.3s, width 0.3s;
  transition: opacity 0.3s, width 0.3s;
}

.whoInvite .invite-data .buttons button.accept {
  background-color: #b5f5d3;
  color: #046b40;
}

.whoInvite .invite-data .buttons button.decline {
  background-color: #dadada;
  color: #464444;
}

.whoInvite .invite-data .buttons button:hover {
  opacity: 0.7;
}

.whoInvite .show {
  z-index: 25 !important;
  opacity: 1 !important;
  bottom: 0px !important;
}

.whoInvite .declineMessage {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
  position: fixed;
  width: 80%;
  max-width: 400px;
  height: 160px;
  top: 0;
  right: 0;
  bottom: 100px;
  left: 0;
  margin: auto;
  background-color: white;
  z-index: -1;
  opacity: 0;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px #515a56;
          box-shadow: 0 1px 2px #515a56;
  padding-top: 20px;
}

.whoInvite .declineMessage label {
  width: 80%;
}

.whoInvite .declineMessage label textarea {
  width: 100%;
  border-radius: 5px;
  padding: 2px 7px;
  margin: 5px 0;
  border: 1px solid grey;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.whoInvite .declineMessage button {
  padding: 2px 12px;
  border-radius: 5px;
  border: none;
  width: 60px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  letter-spacing: 2px;
}

.whoInvite .declineMessage button:first-of-type {
  margin-right: 15px;
  background-color: #b5f5d3;
  color: #046b40;
}

.whoInvite .declineMessage button:last-of-type {
  margin-left: 15px;
  background-color: #dadada;
  color: #464444;
}

.whoInvite .declineMessage button:hover {
  opacity: 0.7;
}

@media (min-width: 520px) {
  .whoInvite .inviters .inviter .invite-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
  .whoInvite .inviters .inviter .invite-message .inviter-name {
    padding-top: 4px;
  }
  .whoInvite .invite-data {
    width: 90%;
    margin: 20px auto;
    padding: 20px 0 0 30px;
    text-align: center;
    max-width: 500px;
    top: 90px;
    overflow-x: hidden;
  }
  .whoInvite .invite-data .reserve-time {
    font-weight: bold;
    display: block;
  }
  .whoInvite .invite-data .data-item {
    margin: 5px 0;
  }
  .whoInvite .invite-data .data-item div {
    width: 280px;
  }
  .whoInvite .invite-data .data-item .title {
    width: 70px;
  }
  .whoInvite .invite-data > div > .data-item div {
    width: 350px;
  }
  .whoInvite .invite-data .flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .whoInvite .invite-data .flexbox + .flexbox .data-item:first-of-type {
    margin-left: 25px;
  }
  .whoInvite .invite-data .flexbox + .flexbox .data-item:first-of-type > div:last-of-type {
    width: 106px;
  }
  .whoInvite .invite-data .flexbox + .flexbox .data-item:last-of-type {
    margin-right: 40px;
  }
  .whoInvite .invite-data .flexbox img {
    width: 180px;
    height: 180px;
    margin-bottom: 35px;
  }
  .whoInvite .invite-data .flexbox .basicData {
    margin-left: 60px;
  }
  .whoInvite .invite-data .flexbox .basicData .data-item:nth-child(2) {
    margin: 8px 0;
  }
  .whoInvite .invite-data .flexcol {
    margin-left: 25px;
    width: 400px;
  }
  .whoInvite .invite-data .flexcol > div {
    margin: 8px 0;
  }
  .whoInvite .invite-data .col {
    margin-right: 30px;
    text-align: left;
    border-top: 1.5px solid #105a3c;
    padding-top: 10px;
  }
  .whoInvite .invite-data .col .title {
    margin-left: 10px;
    font-size: 18px;
  }
  .whoInvite .invite-data .col .title + div {
    max-height: 6rem;
  }
  .whoInvite .invite-data .buttons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 0;
    position: absolute;
    width: 100%;
    left: 0;
  }
  .whoInvite .invite-data .buttons button {
    width: 120px;
  }
  .whoInvite .declineMessage {
    height: 200px;
    padding-top: 0;
    margin: auto;
  }
  .whoInvite .declineMessage label {
    margin-top: 25px;
  }
  .whoInvite .declineMessage label textarea {
    height: 5rem;
  }
  .whoInvite .declineMessage label textarea:focus {
    outline: none !important;
    border: 2px solid #64b795;
  }
}

@media (min-width: 1024px) {
  .whoInvite {
    margin-left: 260px;
    text-align: left;
    max-width: 800px;
  }
  .whoInvite .invite-number {
    font-size: 20px;
  }
  .whoInvite .inviters {
    margin-top: 17px;
    font-size: 16px;
    padding-bottom: 10px;
    height: calc(100vh - 200px);
    overflow: auto;
  }
  .whoInvite .inviters .inviter:first-of-type {
    margin-top: 10px;
  }
  .whoInvite .inviters .button button {
    font-size: 14px;
  }
  .whoInvite .invite-data {
    text-align: center;
    margin: auto;
  }
  .whoInvite .invite-data .reserve-time div + div,
  .whoInvite .invite-data .col:last-of-type div + div {
    max-height: 150px;
  }
}
/*# sourceMappingURL=whoInvite.module.css.map */